# SSC Data Science and Analytics Workshop 2022

## Intro to Databases in Industry: Data Cleaning, Querying, and Modelling at Scale

## Introduction to SQL - Part II

In [8]:
%load_ext sql
%config SqlMagic.displaylimit = 20

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
import json
import urllib.parse

with open('credentials.json') as f:
    login = json.load(f)

user = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

In [10]:
%sql postgresql://{user}:{password}@{host}:{port}/world

'Connected: postgres@world'

## Aggregations

So far, we have seen many functions for various purposes. For example, `ROUND()` and `SQRT()` for math operations or `CHAR_LENGTH` and `SUBSTR()` for manipulating strings. As you may have noticed, these functions produce an individual output for each and every row of a column in an element-wise manner.

There is also a small class of useful functions in SQL called **aggregation** functions, which operate on groups of rows and summarize the data stored in those rows in the form of a single value. Here is a list of standard aggregation functions in SQL:

| Function   | What it computes                    |
|------------|-------------------------------------|
| `COUNT(*)` | Count of all rows in a table        |
| `COUNT()`  | Count of non-null rows of a column  |
| `MIN()`    | Minimum value in a column           |
| `MAX()`    | Maximum value in a column           |
| `AVG()`    | Average of values in a column       |
| `SUM()`    | Total sum of values in a column     |

A couple of points to remember:

- Except for `COUNT(*)`, all aggregation functions ignore `NULL`s
- In addition to numbers, `MIN()` and `MAX()` also work with strings.

---

**Example:** Find the population of the world according to the `country` table in the `world` database.

---

In [11]:
%%sql

SELECT
    SUM(population)
FROM
    country
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
1 rows affected.

[(6078749450,)]

There are a few things that we need to remember when using aggregation functions:

- It is valid to have multiple aggregations in a SQL query, but it is NOT possible have both aggregations and regular columns in a single query:

```sql
-- This is CORRECT:
SELECT
    AVG(lifeexpectancy), SUM(population)
FROM
    country
WHERE
    continent = 'North America'
;

-- This is WRONG:
SELECT
    AVG(lifeexpectancy), name
FROM
    country
WHERE
    continent = 'North America'
;
```

There is only one exception to the latter rule, and that's when we have a `GROUP BY` clause (we'll learn about that in a bit).

- An aggregation function CANNOT be used in the `WHERE` clause, because in SQL `WHERE` processes rows before aggregations. For example, we can't find the name of countries with above average populations using the following query:

```sql
-- This is WRONG:
SELECT
    name
FROM
    country
WHERE
    population > AVG(population)
;
```

It is, of course, possible to write a query to answer the above question, but we have to wait until we learn about subqueries!

## Grouping

If we divide a table into groups of rows based on values of one or more columns, that is called **grouping**. For example, in the `country` table of the `world` database, we find several countries located in the same continent. In this situation, we can group the rows in our `country` table based on the values in the `continent` column. In this way, we would end up with bunch of "sub-tables": A sub-table for all rows where `continent = 'Asia'`, another sub-table for all rows where `continent = 'Europe'`, and so on.

The formal syntax of the grouping operation in SQL looks like this:

```sql
SELECT
    grouping_columns, aggregated_columns
FROM
    table1
WHERE
    condition
GROUP BY
    grouping_columns
ORDER BY
    grouping_columns
```

Typically, it is not the sub-tables themselves that we're interested in, but some sort of summary statistics:
For example, we might want to know the average population for each continent, i.e. for each sub-table or group. In order to do this, we can use aggregation functions that learned about them in the previous section. The question of **"what is the average population of countries in each continent"** can be asked in SQL terms as follows:

In [12]:
%%sql

SELECT
    continent, AVG(population)
FROM
    country
GROUP BY
    continent
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
7 rows affected.

[('Asia', Decimal('72647562.745098039216')),
 ('South America', Decimal('24698571.428571428571')),
 ('North America', Decimal('13053864.864864864865')),
 ('Oceania', Decimal('1085755.357142857143')),
 ('Antarctica', Decimal('0E-20')),
 ('Africa', Decimal('13525431.034482758621')),
 ('Europe', Decimal('15871186.956521739130'))]

**Important points:**

1. If your SQL query involves
  - grouping,
  - filtering with `WHERE`, and
  - sorting with `ORDER BY`,
  
then the `GROUP BY` clause MUST appear between `WHERE` and `ORDER BY`.

2. There can't be any non-aggregated column in a grouping query, except for the columns which are used for grouping (remember the exception I talked about with aggregation functions?). In other words, a non-aggregated column in the `SELECT` clause MUST appear in the `GROUP BY` clause as well.

3. If there are null values in the grouping column, there will be a separate group for null values in the results.

---

**Example:** Write a query to return the average and maximum population of cities in the `city` table for China, India, Canada, US, Australia, and Russia. The corresponding country codes are `CHN, IND, CAN, USA, AUS` and `RUS`.

Show the results for each country using the corresponding country code.

---

In [18]:
%%sql

SELECT
    countrycode,
    AVG(population),
    MAX(population)
FROM
    city
WHERE
    countrycode IN ('CHN', 'IND', 'CAN', 'USA', 'AUS', 'RUS')
GROUP BY
    countrycode
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
6 rows affected.

[('IND', Decimal('361579.255131964809'), 10500000),
 ('RUS', Decimal('365876.719576719577'), 8389200),
 ('AUS', Decimal('808119.000000000000'), 3276207),
 ('CHN', Decimal('484720.699724517906'), 9696300),
 ('USA', Decimal('286955.379562043796'), 8008278),
 ('CAN', Decimal('258649.795918367347'), 1016376)]

### Filtering revisited: the `HAVING` clause

So far, we have used the `WHERE` clause to filter rows. However, I mentioned before that aggregation functions cannot be used inside a `WHERE` clause.

There is another reserved keyword, `HAVING`, for when we need to do filtering using aggregated values. The syntax is as follows (order is important!):

```sql
SELECT
    grouping_columns, aggregated_columns
FROM
    table1
[WHERE
    condition]
GROUP BY
    grouping_columns
HAVING
    group_condition
[ORDER BY
    grouping_columns]
```

To summarize:

- `WHERE` filters rows **before** grouping (or any other operation)
- `HAVING` filters groups **after** grouping

---

**Example:**

Write a query to return the average and maximum population of cities for countries that have at least 60 cities listed in the `city` table.

Show the results for each country using the corresponding country code. Order groups by the number of cities of each country in descending order. Also, convert the returned values to integer type.

---

In [ ]:
%%sql

SELECT
    countrycode,
    AVG(population)::INT,
    MAX(population)::INT,
    COUNT(population) AS count
FROM
    city
GROUP BY
    countrycode
HAVING
    COUNT(*) > 60
ORDER BY
    count DESC
;

Note that just like with the `WHERE` clause, the expression used for filtering with `HAVING` does not necessarily need to appear in the `SELECT` clause. For instance, the `HAVING` clause will still do its job even if `COUNT(population)` is omitted from the `SELECT` clause:

In [ ]:
%%sql

SELECT
    countrycode,
    AVG(population)::int,
    MAX(population)::int
FROM
    city
GROUP BY
    countrycode
HAVING
    COUNT(*) > 60
ORDER BY
    COUNT(*) DESC
;

A `GROUP BY` clause can be considered as equivalent to using `DISTINCT` if no aggregate functions are used:

In [ ]:
%%sql

SELECT
    continent
FROM
    country
GROUP BY
    continent
;

In [ ]:
%%sql

SELECT
    DISTINCT continent
FROM
    country
;

> **Note:** Neither `GROUP BY` nor `DISTINCT` ignore null values.

As long as they are aggregated, columns appearing in the `HAVING` clause don't necessarily need to be present in the `SELECT` clause. For example, here we're retrieving the name of continents having at least 40 countries:

In [31]:
%%sql

SELECT
    continent
FROM
    country
GROUP BY
    continent
HAVING
    COUNT(*) >= 40
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
3 rows affected.

[('Asia',), ('Africa',), ('Europe',)]

## Joins

Joins are probably the most fundamentally important operation in relational databases.

The reason is that the whole idea of such databases is that data can be broken down into various tables that are related to each other, and can be joined together whenever related information from multiple tables is required. Consider the following query as an example:

---

**Example:** Write a query that returns the name of all countries along with their corresponding continents and their cities.

---

As we've been working with the `world` database, we immediately notice that information about countries and cities are stored in two different tables, so we should somehow **combine** or **_join_** the data from the two tables. 

The syntax for a joining tables in SQL is as follows:

```sql
SELECT
    columns
FROM
    left_table
join_type
    right_table
ON
    join_condition
WHERE
    row_filter
GROUP BY
    columns
HAVING
    group_filter
ORDER BY
    columns
;
```

In this section, we'll learn how to do a **join** to answer the question we posed for the `world`, but I prefer to use a smaller database called `faculty` to demonstrate various joining methods first, and then use our larger databases.

In [33]:
%sql postgresql://{user}:{password}@{host}:{port}/faculty

'Connected: postgres@faculty'

Let's take a look at some tables in this database:

In [35]:
%sql SELECT * FROM instructor;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
11 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science')]

In [36]:
%sql SELECT * FROM instructor_course;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
16 rows affected.

[(1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (14, 10, 'Introduction to Optimization', None, datetime.date(2022, 9, 1)),
 (15, 9, 'Parallel Computing', None, datetime.date(2023, 1, 10)),
 (16, 13, 'Natural Language Processing', None, datetime.date(2023, 9, 10))]

### Cross join

A cross join is the simplest way to join two tables:

By cross-joining tables A and B, we match each every row from table A with every row from table B.

In other words, a cross-join returns all combinations of rows from table A and table B. This type of join is also sometimes called _the Cartesian product_ of two relations or tables:

In [37]:
%config SqlMagic.displaylimit = 200

In [38]:
%%sql

SELECT
    *
FROM
    instructor
CROSS JOIN
    instructor_course
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
176 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 14, 10, 'Introduction to Optimization', None, datetime.date(2022, 9, 1)),

**How to deal with ambiguous column names**

Now suppose that we want to return only the names of the instructors and their IDs from the `instructor` table, and names of courses and their IDs from the `course` table. Since there is a column named `id` in both tables, we cannot use `id` in the `SELECT` clause, because it is ambiguous.

In this situation, we should either prepend the column name by the full name of its parent table (e.g. `instructor.id`), or we can create table aliases using the keyword `AS` (just like we did before with columns) and prepend the column name with the parent table alias. A table name followed by a dot and the name of a column is called a _qualified name_. Here is an example of using qualified names for ambiguous column names:

In [40]:
%%sql

SELECT
    name, i.id, course, ic.id
FROM
    instructor AS i
CROSS JOIN
    instructor_course AS ic
LIMIT 10
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
10 rows affected.

[('Mike', 1, 'Statistical Inference and Computation I', 1),
 ('Tiffany', 2, 'Statistical Inference and Computation I', 1),
 ('Arman', 3, 'Statistical Inference and Computation I', 1),
 ('Varada', 4, 'Statistical Inference and Computation I', 1),
 ('Quan', 5, 'Statistical Inference and Computation I', 1),
 ('Joel', 6, 'Statistical Inference and Computation I', 1),
 ('Florencia', 7, 'Statistical Inference and Computation I', 1),
 ('Alexi', 8, 'Statistical Inference and Computation I', 1),
 ('Vincenzo', 15, 'Statistical Inference and Computation I', 1),
 ('Gittu', 19, 'Statistical Inference and Computation I', 1)]

- The keyword `AS` can be dropped
- Table aliases only exist during the execution of a statement
- Using table aliases is a great way to reduce clutter in SQL join statements
- Once you create an alias for a table, you should only use the alias to refer to that table in the statement. For example, the following query would throw an error:

```sql
-- This is WRONG
SELECT
    instructor.name, instructor.id, course, ic.id
FROM
    instructor AS i
CROSS JOIN
    instructor_course AS ic
;
```

### Inner join

Except for a cross join, all other types of joins use a condition using the `ON` keyword to figure out which rows from the two tables to pair up. An inner join is a type of join that only returns the matching rows from the left and right tables. The image below ([source](https://www.postgresqltutorial.com/postgresql-joins/)) shows Venn diagram of an inner join:

<img src="img/inner_join.png" width="250"/>

For example, in our `instructor` table there are some instructors who are assigned one or more courses in the `instructor_course` table, some who are not. Similarly, there are courses in the `instructor_course` table that have an instructor, and some that don't have an instructor yet. With an inner join based on `instructor.id` and `instructor_course.id` columns, we would retrieve matching rows, meaning that only instructors are retrieved that have one or more assigned courses, and vice versa:

In [41]:
%%sql

SELECT
    name, i.id, ic.instructor_id, course
FROM
    instructor AS i
INNER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
12 rows affected.

[('Alexi', 8, 8, 'Statistical Inference and Computation I'),
 ('Alexi', 8, 8, 'Regression II'),
 ('Mike', 1, 1, 'Descriptive Statistics and Probability'),
 ('Mike', 1, 1, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Python Programming'),
 ('Arman', 3, 3, 'Databases & Data Retrieval'),
 ('Joel', 6, 6, 'Visualization I'),
 ('Joel', 6, 6, 'Privacy, Ethics & Security'),
 ('Tiffany', 2, 2, 'Programming for Data Manipulation'),
 ('Florencia', 7, 7, 'Data Science Workflows'),
 ('Tiffany', 2, 2, 'Data Science Workflows')]

In the above returned table, "Quan" and "Varada" are missing as instructors since they are not yet assigned any courses. Also, the courses "Web & Cloud Computing", "Parallel Computing", and "Introduction to Optimization" are missing, since there not yet any instructors assigned for these courses.

> **Note:** The `INNER` keyword is optional.

### Natural join

For joins involving a join condition, e.g. inner or self joins, we have so far explicitly specified the matching condition. In a situation that columns in different tables have the same name and we want to simply match rows with similar values **in all similarly named columns**, we can do a **natural join** using the keywords `NATURAL JOIN`. For example, the `id` column in the `course_cohort` refers to the `id` column let's find which courses are offered for which cohorts using a natural join:

In [42]:
%sql SELECT * FROM course_cohort;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
7 rows affected.

[(13, 'Comp-Ling'),
 (8, 'Comp-Ling'),
 (1, 'Comp-Ling'),
 (3, 'Comp-Ling'),
 (1, 'Stats-AI'),
 (9, 'Stats-AI'),
 (3, 'Stats-AI')]

In [43]:
%%sql

SELECT
    ic.course, cc.cohort
FROM
    instructor_course ic
NATURAL JOIN
    course_cohort cc
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
7 rows affected.

[('Web & Cloud Computing', 'Comp-Ling'),
 ('Visualization I', 'Comp-Ling'),
 ('Statistical Inference and Computation I', 'Comp-Ling'),
 ('Descriptive Statistics and Probability', 'Comp-Ling'),
 ('Statistical Inference and Computation I', 'Stats-AI'),
 ('Privacy, Ethics & Security', 'Stats-AI'),
 ('Descriptive Statistics and Probability', 'Stats-AI')]

If there are no matching columns in the two tables, `NATURAL JOIN` acts like `JOIN ... ON TRUE` and results in a cross-product join between the participating tables.

### Outer joins

An outer join is a type of join that returns all the rows from one or both of the tables that takes part in the joining.

**Outer joins** are useful in questions that involve **missing values**.

#### Left outer join

In the joining process, the first table from which data is retrieved using `SELECT` is called the **left** table, and the table that is joined onto that is called the **right** table. In other words, the first table that appears in the query is the left table (table on the left of the query), and the one appearing later is the right table (table on the right of the query).

A left outer join is a type of join that returns all rows from the left table (matching or not), in addition to the matching rows from both tables. The non-matching rows from the left table are assigned null values in the columns that belong to the 
right table. This is schematically shown in the diagram below ([source](https://www.postgresqltutorial.com/postgresql-joins/)):

<img src="img/left_join.png" width="250"/>

For example, in the [inner join](#Inner-join) example, instructors who don't teach any course are not returned by the join operation. Let's say we want to retrieve a list of all instructors and the courses they teach, as well as those who don't teach any courses:

In [44]:
%%sql

SELECT
    name, i.id, ic.instructor_id, course
FROM
    instructor AS i
LEFT OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
17 rows affected.

[('Alexi', 8, 8, 'Statistical Inference and Computation I'),
 ('Alexi', 8, 8, 'Regression II'),
 ('Mike', 1, 1, 'Descriptive Statistics and Probability'),
 ('Mike', 1, 1, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Python Programming'),
 ('Arman', 3, 3, 'Databases & Data Retrieval'),
 ('Joel', 6, 6, 'Visualization I'),
 ('Joel', 6, 6, 'Privacy, Ethics & Security'),
 ('Tiffany', 2, 2, 'Programming for Data Manipulation'),
 ('Florencia', 7, 7, 'Data Science Workflows'),
 ('Tiffany', 2, 2, 'Data Science Workflows'),
 ('Vincenzo', 15, None, None),
 ('Quan', 5, None, None),
 ('Gittu', 19, None, None),
 ('Jessica', 16, None, None),
 ('Varada', 4, None, None)]

> **Note:** The keyword `OUTER` is optional.

How can this be helpful? As an example, we can return the name of instructors who don't teach any courses with the following query:

In [45]:
%%sql

SELECT
    name
FROM
    instructor AS i
LEFT JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
WHERE
    ic.course IS NULL
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
5 rows affected.

[('Vincenzo',), ('Quan',), ('Gittu',), ('Jessica',), ('Varada',)]

#### Right outer join

A right join acts exactly in the same way as a left join, except that it keeps all rows from the right table and only the matching ones from the left table. The diagram below demonstrates a right join schematically ([source](https://www.postgresqltutorial.com/postgresql-joins/)):

<img src="img/right_join.png" width="250"/>

Let's retrieve a list of all courses and their appointed instructors, as well as those courses without an instructor:

In [46]:
%%sql

SELECT
    name, i.id, ic.instructor_id, course
FROM
    instructor AS i
RIGHT OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
16 rows affected.

[('Alexi', 8, 8, 'Statistical Inference and Computation I'),
 ('Alexi', 8, 8, 'Regression II'),
 ('Mike', 1, 1, 'Descriptive Statistics and Probability'),
 ('Mike', 1, 1, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Python Programming'),
 ('Arman', 3, 3, 'Databases & Data Retrieval'),
 ('Joel', 6, 6, 'Visualization I'),
 ('Joel', 6, 6, 'Privacy, Ethics & Security'),
 ('Tiffany', 2, 2, 'Programming for Data Manipulation'),
 ('Florencia', 7, 7, 'Data Science Workflows'),
 ('Tiffany', 2, 2, 'Data Science Workflows'),
 (None, None, 12, 'Web & Cloud Computing'),
 (None, None, 10, 'Introduction to Optimization'),
 (None, None, 9, 'Parallel Computing'),
 (None, None, 13, 'Natural Language Processing')]

Now, let's find out which courses do not have an appointed instructor yet:

In [47]:
%%sql

SELECT
    course
FROM
    instructor AS i
RIGHT OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
WHERE
    i.id IS NULL
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
4 rows affected.

[('Web & Cloud Computing',),
 ('Introduction to Optimization',),
 ('Parallel Computing',),
 ('Natural Language Processing',)]

#### Full outer join

A full outer join is the combination of a left and right join: it retrieves **matching and non-matching** rows from **both** tables. Take a look at the schematic diagram of a full outer join ([source](https://www.postgresqltutorial.com/postgresql-joins/)):

<img src="img/full_outer_join.png" width="250"/>

Let's do a full outer join between the `instructor` and `instructor_course` tables to retrieve all instructors and courses:

In [48]:
%%sql

SELECT
    name, i.id, ic.instructor_id, course
FROM
    instructor AS i
FULL OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
21 rows affected.

[('Alexi', 8, 8, 'Statistical Inference and Computation I'),
 ('Alexi', 8, 8, 'Regression II'),
 ('Mike', 1, 1, 'Descriptive Statistics and Probability'),
 ('Mike', 1, 1, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Python Programming'),
 ('Arman', 3, 3, 'Databases & Data Retrieval'),
 ('Joel', 6, 6, 'Visualization I'),
 ('Joel', 6, 6, 'Privacy, Ethics & Security'),
 ('Tiffany', 2, 2, 'Programming for Data Manipulation'),
 ('Florencia', 7, 7, 'Data Science Workflows'),
 ('Tiffany', 2, 2, 'Data Science Workflows'),
 (None, None, 12, 'Web & Cloud Computing'),
 (None, None, 10, 'Introduction to Optimization'),
 (None, None, 9, 'Parallel Computing'),
 (None, None, 13, 'Natural Language Processing'),
 ('Vincenzo', 15, None, None),
 ('Quan', 5, None, None),
 ('Gittu', 19, None, None),
 ('Jessica', 16, None, None),
 ('Varada', 4, None, None)]

We can now write a query to find instructors who are free to teach a course, and courses that need an instructor:

In [49]:
%%sql

SELECT
    name, course
FROM
    instructor AS i
FULL OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
WHERE
    i.name IS NULL
    OR
    ic.course IS NULL
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
9 rows affected.

[(None, 'Web & Cloud Computing'),
 (None, 'Introduction to Optimization'),
 (None, 'Parallel Computing'),
 (None, 'Natural Language Processing'),
 ('Vincenzo', None),
 ('Quan', None),
 ('Gittu', None),
 ('Jessica', None),
 ('Varada', None)]

---

**Question:** What's the difference between a cross join and a full outer join?

---

## Subqueries

There is a particular type of question that we have avoided so far for our SQL queries, and that is one for which we need the result of a second query to be able to run the first query. Take the following question as an example:

---

**Example:** Using the `world` database, find the countries with surface area above the average value of all countries in the world.

---

This query looks simple. You might be tempted to try

```sql
-- This will NOT work
SELECT
    name
FROM
    country
WHERE
    surfacearea > AVG(surfacearea)
;
```

but we've learned before that aggregate functions **cannot** be used within a `WHERE` clause.

To answer this question, we need to query the database twice: once to obtain the average surface area, and once to actually retrieve the rows that satisfy the condition. However, we don't need to do that in two separate queries and manually take the data coming from the first query and use it in the second. We can use a **subquery** to do that for us.

A subquery is a `SELECT` statement that is incorporated into another SQL statement. For example, the query that computes the average surface area is:

```sql
SELECT
    AVG(surfacearea)
FROM
    country
;
```

We can use this intermediate information in our original query by embedding the above query in the `WHERE` clause of the original query:

```sql
SELECT
    name
FROM
    country
WHERE
    surfacearea > (
        SELECT AVG(surfacearea) FROM country
    )
;
```

In [50]:
%sql postgresql://{user}:{password}@{host}:{port}/world

'Connected: postgres@world'

In [51]:
%%sql

SELECT
    name
FROM
    country
WHERE
    surfacearea > (
        SELECT
            AVG(surfacearea)
        FROM
            country
    )
;

   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
43 rows affected.

[('Afghanistan',),
 ('Algeria',),
 ('Angola',),
 ('Argentina',),
 ('Australia',),
 ('Bolivia',),
 ('Brazil',),
 ('Chile',),
 ('Egypt',),
 ('South Africa',),
 ('Ethiopia',),
 ('Greenland',),
 ('Indonesia',),
 ('India',),
 ('Iran',),
 ('Canada',),
 ('Kazakstan',),
 ('China',),
 ('Colombia',),
 ('Congo, The Democratic Republic of the',),
 ('Libyan Arab Jamahiriya',),
 ('Mali',),
 ('Mauritania',),
 ('Mexico',),
 ('Mongolia',),
 ('Mozambique',),
 ('Myanmar',),
 ('Namibia',),
 ('Niger',),
 ('Nigeria',),
 ('Pakistan',),
 ('Peru',),
 ('Zambia',),
 ('Saudi Arabia',),
 ('Somalia',),
 ('Sudan',),
 ('Tanzania',),
 ('Chad',),
 ('Turkey',),
 ('Venezuela',),
 ('Russian Federation',),
 ('United States',),
 ('Antarctica',)]

Note that:

- A subquery should always be enclosed in parentheses, e.g. `(SELECT ...)`
- Subqueries should **not** be terminated by a semi-colon, as opposed to regular queries
- Sometimes the main SQL statement is called the **outer query** and the subquery is called the **inner query**

A subquery can be used in the `SELECT`, `FROM`, `WHERE`, and `HAVING` clauses, but most commonly in the `WHERE`.

In our last query, we can use a subquery in the `SELECT` clause as well to check if the returned rows do satisfy the condition of `surfacearea > AVG(surfacearea)`:

In [52]:
%%sql

SELECT
    name,
    ROUND(surfacearea::NUMERIC / (SELECT AVG(surfacearea) FROM country)::NUMERIC, 2)
        AS ratio
FROM
    country
WHERE
    surfacearea > (
        SELECT AVG(surfacearea) FROM country
    )
ORDER BY
    ratio
;

   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
43 rows affected.

[('Somalia', Decimal('1.02')),
 ('Afghanistan', Decimal('1.05')),
 ('Myanmar', Decimal('1.09')),
 ('Zambia', Decimal('1.21')),
 ('Chile', Decimal('1.21')),
 ('Turkey', Decimal('1.24')),
 ('Pakistan', Decimal('1.28')),
 ('Mozambique', Decimal('1.29')),
 ('Namibia', Decimal('1.32')),
 ('Tanzania', Decimal('1.42')),
 ('Venezuela', Decimal('1.46')),
 ('Nigeria', Decimal('1.48')),
 ('Egypt', Decimal('1.61')),
 ('Mauritania', Decimal('1.65')),
 ('Bolivia', Decimal('1.76')),
 ('Ethiopia', Decimal('1.77')),
 ('Colombia', Decimal('1.83')),
 ('South Africa', Decimal('1.96')),
 ('Mali', Decimal('1.99')),
 ('Angola', Decimal('2.00')),
 ('Niger', Decimal('2.03')),
 ('Chad', Decimal('2.06')),
 ('Peru', Decimal('2.06')),
 ('Mongolia', Decimal('2.51')),
 ('Iran', Decimal('2.64')),
 ('Libyan Arab Jamahiriya', Decimal('2.82')),
 ('Indonesia', Decimal('3.06')),
 ('Mexico', Decimal('3.14')),
 ('Saudi Arabia', Decimal('3.45')),
 ('Greenland', Decimal('3.48')),
 ('Congo, The Democratic Republic of the', Decimal('3.76')),
 ('Algeria', Decimal('3.82')),
 ('Sudan', Decimal('4.02')),
 ('Kazakstan', Decimal('4.37')),
 ('Argentina', Decimal('4.46')),
 ('India', Decimal('5.27')),
 ('Australia', Decimal('12.42')),
 ('Brazil', Decimal('13.71')),
 ('United States', Decimal('15.02')),
 ('China', Decimal('15.36')),
 ('Canada', Decimal('16.00')),
 ('Antarctica', Decimal('21.05')),
 ('Russian Federation', Decimal('27.40'))]

> **Note:** A subquery in the `SELECT` clause should always return a single value, not a column or rows of values.

---

**Example:** Retrieve the name of countries whose capital cities have a population larger than 5 million.

---

In [53]:
%%sql

SELECT
    name
FROM
    country
WHERE
    capital IN (
        SELECT id
        FROM city
        WHERE population > 5000000
    )
;

   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
13 rows affected.

[('United Kingdom',),
 ('Egypt',),
 ('Indonesia',),
 ('Iran',),
 ('Japan',),
 ('China',),
 ('Colombia',),
 ('Congo, The Democratic Republic of the',),
 ('South Korea',),
 ('Mexico',),
 ('Peru',),
 ('Thailand',),
 ('Russian Federation',)]

Well, as you might have guessed, we can rewrite this query using a **join**:

In [ ]:
%%sql

SELECT
    co.name
FROM
    country co
JOIN
    city ci
ON
    co.capital = ci.id
WHERE
    ci.population > 5000000
;

Using a subquery is actually another way to gain access to data stored in other tables.

Typically, joins can be rewritten as a subquery and vice-versa, so what's the difference?

- Subqueries tend to be more readable and more intuitive
- Subqueries cannot be used if you need to include columns from the inner query in your results

---

**Example:** Retrieve the name of countries where English is an official language, and have a population of over 1 million.

---

In [54]:
%%sql

SELECT
    name
FROM
    country
WHERE
    population > 1000000
    AND
    code IN (
        SELECT
            countrycode
        FROM
            countrylanguage
        WHERE
            language = 'English'
            AND
            isofficial = True
    )
;

   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/faculty
 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
10 rows affected.

[('Australia',),
 ('United Kingdom',),
 ('South Africa',),
 ('Hong Kong',),
 ('Ireland',),
 ('Canada',),
 ('Lesotho',),
 ('New Zealand',),
 ('United States',),
 ('Zimbabwe',)]