# SSC Data Science and Analytics Workshop 2022

### Intro to Databases in Industry: Data Cleaning, Querying, and Modeling at Scale
-----------------

# 1. Introduction

### 1.1 Workshop structure

The workshop will be split in two parts. 

- In the first part, Arman and I will discuss
    - what it is and why to use a Database Management Systems (DBMS);
    - the basics of SQL queries;
    - accessing a database from R;
    
    
    
- In the second part, Diego will:
   - discuss the concept of a data warehouse;
   - introduce the ETL (Extract, Transform, Load) and ELT (Extract, Load, Transform) processes;
   - present dimensional modelling as methodology to guide the design of data warehouses at scale.
   
The workshop will be focused on the user aspect of databases, not on design and implementation.

### 1.2 Why use a Database management system (DBMS)?

To analyze data, we need to first collect and store the data. In fact, depending on the scale of the dataset, we need much more than that. Curating a large dataset is not just about storing it, we also need to:

- keep track of the relationship between the data entities;
- avoid redundancies; 
- manage security issues to protect private and sensitive information;
- have an error recovery system in place;
- be able to retrieve data in an efficient manner;
- have well controlled concurrent access;
- keep the data in a consistent state;
- enforce data integrity!

### 1.3 Database vs DBMS 

- A **database is a collection of data about different but related objects** (also called entities in database jargon), each entity with a common set of attributes. For example, a taxi company stores information about:
  - Drivers (name, licence number, licence expiration);
  - Cars (model, year);
  - Clients (name, address, phone, e-mail);


- Note that entities also interact among themselves (e.g., a driver drives a car).

- A **DBMS is a software** responsible to assist the maintenance and usage of databases (yes, plural!)
  - There are many different vendors of **relational** DBMS out there (e.g., PostgreSQL, MS Access, MS SQL Server, MySQL, etc…)
  <img src="img/lecture1/flavours_sql.png" width="700"/>

---

**Remember:**
    
database $\ne$ database management system

---

### 1.4 PostgreSQL

- In this workshop we will be using PostgreSQL as our RDBMS;


- PostgreSQL is an open-source multi-platform (Windows, Linux, macOS) RDBMS with a high level of compliance with ANSI SQL (the langugae that practically all RDBMS use to create, modify and query databases);

### 1.5 The client-server model

Similar to most other DBMSs, Postgres works based on a **client-sever** model. In this model

- The DBMS along with its databases and data are all stored on a host computer where the database server resides. This is typically a powerful machine with high processing power and large storage
- Client hosts are usually personal computers with GUIs that can connect to a database server to access the data.

In this model, the clients and the server are connected over a network. The heavy-lifting of processing, managing and storing large amounts of data is done by the server host, and clients only retrieve the data that they need.

<img src="img/lecture1/client-server.png" width="500"/>

> Although sometimes used interchangeably, there is a difference between a **client/server** and a **client/server host**. A host is a device, whereas a client/server is a piece of software. For example, you can simultaneously have multiple client programs connected to a remote database. Similarly, a remote host is a device (i.e. a computer) that might have several server programs running concurrently.

The idea of client-server models for databases has become the standard of computation and storage today, known as **cloud computing**:

- Today we rarely store movie or music files on our computers. This is why most of us have laptops with only 256/512 GB of space, because most of that takes up space is already provided as a cloud service (e.g. Netflix, Spotify, Youtube), or is stored on cloud storage spaces (e.g. One Drive, Dropbox, Google Drive).
- We rarely run production-stage computation-intensive jobs on our own computers. All such computations are done on cloud-computing services (e.g. Google Cloud Platform, Amazon Web Services, Microsoft Azure). I personally haven't run a single simulation code on my own computer, neither ever stored any raw data locally. I use my computer mainly as an interface to access the services that I want.

> Note that there are certain situations where one might want to **locally** benefit from the advantages of storing data in a database. A relational database engine that works only with local databases is SQLite. If you're curious to find out the use cases for **SQLite**, take a look [here](https://www.sqlite.org/whentouse.html).

Whenever we use Postgres (or any other client-server DBMS), the first step before anything else is to **connect** to the database server. This is why we will talk about _host address_, _port_, _username_, and _password_ when we try to use a database.

### 1.5 What is SQL?

Well, it's finally time to learn about SQL!

- SQL stands for Structured Query Language ([or... does it?](https://en.wikipedia.org/wiki/SQL#History)).

- It is a language that we use to talk to a relational DBMS.

- Originally developed by IBM in 1970s to manipulate and retrieve data stored in their DBMS, System R.

- Keep in mind that SQL is not set in stone and the SQL standard is updated from time to time (e.g., 1986, 1992, 1999, 2011, 2016);

- There’s no DBMS that fully complies with the standard;

## 2. SQL

Suppose that we have the following table in our database, and 

> we want to retrieve the names and GPAs of students older than 25.

|  sid  | name      | login      | age | gpa |
|-------|-----------|------------|-----|-----|
| 23792 | Arman     | arman@mds  | 28  | 2.5 |
| 82347 | Varada    | varada@mds | 29  | 2.9 |
| 11238 | Tiffany   | tiff@mds   | 23  | 2.8 |
| 87263 | Mike      | mike@mds   | 19  | 3.8 |
| 13298 | Joel      | joel@mds   | 25  | 3.2 |
| 91287 | Florencia | flor@mds   | 20  | 3.3 |

We can write this as the following SQL query:

```sql
SELECT
    name, age, gpa
FROM
    Students
WHERE
    age > 25;
```

Running the above query should return this relation:

| name   | age | gpa |
|--------|-----|-----|
| Arman  | 28  | 2.5 |
| Varada | 29  | 2.9 |

Let's dissect the different parts of our SQL query here.

### 2.1 The `SELECT` statement

```sql
-- A basic SELECT statement
-- ===========================
SELECT
    name, age, gpa  -- column names
FROM
    Students        -- table name
WHERE
    age > 25;       -- condition
```

- A SQL statement usually starts with a verb that describes what the statement is doing, e.g., `SELECT`, `UPDATE`, `INSERT`, `CREATE`, …

- SQL is NOT case sensitive: “SELECT”, “select”, and “SeLeCt” are all the same;

- A SQL command can use multiple lines;

- Don't forget that every SQL statement needs to be terminated with a `;`.

- SQL keywords are traditionally written in upper case letters, but that is not a requirement.

### 2.1 How to run SQL in Postgres?

Well, we have a variety of options to run our SQL statements in PostgreSQL:

- pgAdmin is the official web-based GUI for interacting with PostgreSQL databases
- `psql` is PostgreSQL's interactive command-line interface
- `%sql` and `%%sql` magic commands in Jupyter notebooks, which are provided by the `ipython-sql` package
- `DBI` and `RPostgres` packages in R;

---------------------------
### 2.1.1 `psql`

This is PostgreSQL's command-line tool that allows us to interactively run SQL statements as well as "meta" commands. I introduce a couple of useful `psql` meta commands here, but you can find all the other ones in Postgres documentations [here](https://www.postgresql.org/docs/current/app-psql.html) or a shorter version in this [cheatsheet](http://www.postgresonline.com/downloads/special_feature/postgresql83_psql_cheatsheet.pdf).

| Command | Usage                                         |
|---------|-----------------------------------------------|
| `\l`    | list all databases                            |
| `\c`    | connect to a database                         |
| `\cd`   | change directory                              |
| `\!`    | execute shell commands                        |
| `\i`    | execute commands from file                    |
| `\d`    | list tables and views                         |
| `\d+`   | list tables and views with additional info    |
| `\dt`   | list tables                                   |
| `\dt+`  | list tables with additional info              |
| `\h`    | view help on SQL commands                     |
| `\?`    | view help on psql meta commands               |
| `\q`    | quit interactive shell                        |

> Note that you don't need to terminate meta commands with `;`.

### 2.1.2 `ipython-sql` (`%sql` and `%%sql`)

`ipython-sql` is a package that enables us to run SQL statements right from a Jupyter notebook. In order to use it, we should load it first:

In [49]:
%load_ext sql
%config SqlMagic.displaylimit = 30

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Now we need the host address of where the database is stored, along with a username and a password.

It is always a bad idea to store login information directly in a notebook or code file because of security reasons. For example, you don't want to commit your sensitive login information to a Git repo.

In order to avoid that, we store that kind of information in a separate file, like `credentials.json` here, and read the username and password into our IPython session:

In [51]:
import json

with open('credentials.json') as f:
    credentials = json.load(f)
    
username = credentials['user']
password = credentials['password']
host = credentials['host']
port = credentials['port']

And also make sure to add your file name (e.g. `credentials.json`) to your `.gitignore` file, so you don't accidentally commit it.

Now we can establish the connection to the `world` database using the following code:

In [52]:
%sql postgresql://{username}:{password}@{host}:{port}/world

Note that we have used the `%sql` line magic to interpret the line in front of it as a magic command. 

We can also use `%%sql` cell magic to apply the magic to an entire notebook cell.

A limited number of `psql` meta commands (e.g. `\l`, `d`) can also be executed here. This is made possible through the `pgspecial` package. For example, let's list all databases that exist on our PostgreSQL server:

In [4]:
#%sql \l

Or list the relations (i.e. tables) in the current database:

In [5]:
#%sql \d

---------------------------------------
#### Wait, isn't this a workshop? Let's get to work then!!
To learn you need to practice!

**Exercise 1:**

Retrieve the `name` and `population` columns from the `country` table:

In [53]:
%%sql 

SELECT name, population 
    FROM country;

   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/imdb
 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
239 rows affected.

[('Afghanistan', 22720000),
 ('Netherlands', 15864000),
 ('Netherlands Antilles', 217000),
 ('Albania', 3401200),
 ('Algeria', 31471000),
 ('American Samoa', 68000),
 ('Andorra', 78000),
 ('Angola', 12878000),
 ('Anguilla', 8000),
 ('Antigua and Barbuda', 68000),
 ('United Arab Emirates', 2441000),
 ('Argentina', 37032000),
 ('Armenia', 3520000),
 ('Aruba', 103000),
 ('Australia', 18886000),
 ('Azerbaijan', 7734000),
 ('Bahamas', 307000),
 ('Bahrain', 617000),
 ('Bangladesh', 129155000),
 ('Barbados', 270000),
 ('Belgium', 10239000),
 ('Belize', 241000),
 ('Benin', 6097000),
 ('Bermuda', 65000),
 ('Bhutan', 2124000),
 ('Bolivia', 8329000),
 ('Bosnia and Herzegovina', 3972000),
 ('Botswana', 1622000),
 ('Brazil', 170115000),
 ('United Kingdom', 59623400),
 ('Virgin Islands, British', 21000),
 ('Brunei', 328000),
 ('Bulgaria', 8190900),
 ('Burkina Faso', 11937000),
 ('Burundi', 6695000),
 ('Cayman Islands', 38000),
 ('Chile', 15211000),
 ('Cook Islands', 20000),
 ('Costa Rica', 4023000),
 ('Djibouti', 638000),
 ('Dominica', 71000),
 ('Dominican Republic', 8495000),
 ('Ecuador', 12646000),
 ('Egypt', 68470000),
 ('El Salvador', 6276000),
 ('Eritrea', 3850000),
 ('Spain', 39441700),
 ('South Africa', 40377000),
 ('Ethiopia', 62565000),
 ('Falkland Islands', 2000),
 ('Fiji Islands', 817000),
 ('Philippines', 75967000),
 ('Faroe Islands', 43000),
 ('Gabon', 1226000),
 ('Gambia', 1305000),
 ('Georgia', 4968000),
 ('Ghana', 20212000),
 ('Gibraltar', 25000),
 ('Grenada', 94000),
 ('Greenland', 56000),
 ('Guadeloupe', 456000),
 ('Guam', 168000),
 ('Guatemala', 11385000),
 ('Guinea', 7430000),
 ('Guinea-Bissau', 1213000),
 ('Guyana', 861000),
 ('Haiti', 8222000),
 ('Honduras', 6485000),
 ('Hong Kong', 6782000),
 ('Svalbard and Jan Mayen', 3200),
 ('Indonesia', 212107000),
 ('India', 1013662000),
 ('Iraq', 23115000),
 ('Iran', 67702000),
 ('Ireland', 3775100),
 ('Iceland', 279000),
 ('Israel', 6217000),
 ('Italy', 57680000),
 ('East Timor', 885000),
 ('Austria', 8091800),
 ('Jamaica', 2583000),
 ('Japan', 126714000),
 ('Yemen', 18112000),
 ('Jordan', 5083000),
 ('Christmas Island', 2500),
 ('Yugoslavia', 10640000),
 ('Cambodia', 11168000),
 ('Cameroon', 15085000),
 ('Canada', 31147000),
 ('Cape Verde', 428000),
 ('Kazakstan', 16223000),
 ('Kenya', 30080000),
 ('Central African Republic', 3615000),
 ('China', 1277558000),
 ('Kyrgyzstan', 4699000),
 ('Kiribati', 83000),
 ('Colombia', 42321000),
 ('Comoros', 578000),
 ('Congo', 2943000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Cocos (Keeling) Islands', 600),
 ('North Korea', 24039000),
 ('South Korea', 46844000),
 ('Greece', 10545700),
 ('Croatia', 4473000),
 ('Cuba', 11201000),
 ('Kuwait', 1972000),
 ('Cyprus', 754700),
 ('Laos', 5433000),
 ('Latvia', 2424200),
 ('Lesotho', 2153000),
 ('Lebanon', 3282000),
 ('Liberia', 3154000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Liechtenstein', 32300),
 ('Lithuania', 3698500),
 ('Luxembourg', 435700),
 ('Western Sahara', 293000),
 ('Macao', 473000),
 ('Madagascar', 15942000),
 ('Macedonia', 2024000),
 ('Malawi', 10925000),
 ('Maldives', 286000),
 ('Malaysia', 22244000),
 ('Mali', 11234000),
 ('Malta', 380200),
 ('Morocco', 28351000),
 ('Marshall Islands', 64000),
 ('Martinique', 395000),
 ('Mauritania', 2670000),
 ('Mauritius', 1158000),
 ('Mayotte', 149000),
 ('Mexico', 98881000),
 ('Micronesia, Federated States of', 119000),
 ('Moldova', 4380000),
 ('Monaco', 34000),
 ('Mongolia', 2662000),
 ('Montserrat', 11000),
 ('Mozambique', 19680000),
 ('Myanmar', 45611000),
 ('Namibia', 1726000),
 ('Nauru', 12000),
 ('Nepal', 23930000),
 ('Nicaragua', 5074000),
 ('Niger', 10730000),
 ('Nigeria', 111506000),
 ('Niue', 2000),
 ('Norfolk Island', 2000),
 ('Norway', 4478500),
 ('Côte d\x92Ivoire', 14786000),
 ('Oman', 2542000),
 ('Pakistan', 156483000),
 ('Palau', 19000),
 ('Panama', 2856000),
 ('Papua New Guinea', 4807000),
 ('Paraguay', 5496000),
 ('Peru', 25662000),
 ('Pitcairn', 50),
 ('Northern Mariana Islands', 78000),
 ('Portugal', 9997600),
 ('Puerto Rico', 3869000),
 ('Poland', 38653600),
 ('Equatorial Guinea', 453000),
 ('Qatar', 599000),
 ('France', 59225700),
 ('French Guiana', 181000),
 ('French Polynesia', 235000),
 ('Réunion', 699000),
 ('Romania', 22455500),
 ('Rwanda', 7733000),
 ('Sweden', 8861400),
 ('Saint Helena', 6000),
 ('Saint Kitts and Nevis', 38000),
 ('Saint Lucia', 154000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Saint Pierre and Miquelon', 7000),
 ('Germany', 82164700),
 ('Solomon Islands', 444000),
 ('Zambia', 9169000),
 ('Samoa', 180000),
 ('San Marino', 27000),
 ('Sao Tome and Principe', 147000),
 ('Saudi Arabia', 21607000),
 ('Senegal', 9481000),
 ('Seychelles', 77000),
 ('Sierra Leone', 4854000),
 ('Singapore', 3567000),
 ('Slovakia', 5398700),
 ('Slovenia', 1987800),
 ('Somalia', 10097000),
 ('Sri Lanka', 18827000),
 ('Sudan', 29490000),
 ('Finland', 5171300),
 ('Suriname', 417000),
 ('Swaziland', 1008000),
 ('Switzerland', 7160400),
 ('Syria', 16125000),
 ('Tajikistan', 6188000),
 ('Taiwan', 22256000),
 ('Tanzania', 33517000),
 ('Denmark', 5330000),
 ('Thailand', 61399000),
 ('Togo', 4629000),
 ('Tokelau', 2000),
 ('Tonga', 99000),
 ('Trinidad and Tobago', 1295000),
 ('Chad', 7651000),
 ('Czech Republic', 10278100),
 ('Tunisia', 9586000),
 ('Turkey', 66591000),
 ('Turkmenistan', 4459000),
 ('Turks and Caicos Islands', 17000),
 ('Tuvalu', 12000),
 ('Uganda', 21778000),
 ('Ukraine', 50456000),
 ('Hungary', 10043200),
 ('Uruguay', 3337000),
 ('New Caledonia', 214000),
 ('New Zealand', 3862000),
 ('Uzbekistan', 24318000),
 ('Belarus', 10236000),
 ('Wallis and Futuna', 15000),
 ('Vanuatu', 190000),
 ('Holy See (Vatican City State)', 1000),
 ('Venezuela', 24170000),
 ('Russian Federation', 146934000),
 ('Vietnam', 79832000),
 ('Estonia', 1439200),
 ('United States', 278357000),
 ('Virgin Islands, U.S.', 93000),
 ('Zimbabwe', 11669000),
 ('Palestine', 3101000),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Heard Island and McDonald Islands', 0),
 ('French Southern territories', 0),
 ('United States Minor Outlying Islands', 0)]

**Exercise 2: `SELECT *`?**

What happens if you replace your column list with * in the SELECT statement?

In [7]:
%%sql 

SELECT *
    FROM country;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
239 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 22720000, 45.9, Decimal('5976.00'), None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF'),
 ('NLD', 'Netherlands', 'Europe', 'Western Europe', 41526.0, 1581, 15864000, 78.3, Decimal('371362.00'), Decimal('360478.00'), 'Nederland', 'Constitutional Monarchy', 'Beatrix', 5, 'NL'),
 ('ANT', 'Netherlands Antilles', 'North America', 'Caribbean', 800.0, None, 217000, 74.7, Decimal('1941.00'), None, 'Nederlandse Antillen', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 33, 'AN'),
 ('ALB', 'Albania', 'Europe', 'Southern Europe', 28748.0, 1912, 3401200, 71.6, Decimal('3205.00'), Decimal('2500.00'), 'Shqipëria', 'Republic', 'Rexhep Mejdani', 34, 'AL'),
 ('DZA', 'Algeria', 'Africa', 'Northern Africa', 2381741.0, 1962, 31471000, 69.7, Decimal('49982.00'), Decimal('46966.00'), 'Al-Jaza\x92ir/Algérie', 'Republic', 'Abdelaziz Bouteflika', 35, 'DZ'),
 ('ASM', 'American Samoa', 'Oceania', 'Polynesia', 199.0, None, 68000, 75.1, Decimal('334.00'), None, 'Amerika Samoa', 'US Territory', 'George W. Bush', 54, 'AS'),
 ('AND', 'Andorra', 'Europe', 'Southern Europe', 468.0, 1278, 78000, 83.5, Decimal('1630.00'), None, 'Andorra', 'Parliamentary Coprincipality', '', 55, 'AD'),
 ('AGO', 'Angola', 'Africa', 'Central Africa', 1246700.0, 1975, 12878000, 38.3, Decimal('6648.00'), Decimal('7984.00'), 'Angola', 'Republic', 'José Eduardo dos Santos', 56, 'AO'),
 ('AIA', 'Anguilla', 'North America', 'Caribbean', 96.0, None, 8000, 76.1, Decimal('63.20'), None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI'),
 ('ATG', 'Antigua and Barbuda', 'North America', 'Caribbean', 442.0, 1981, 68000, 70.5, Decimal('612.00'), Decimal('584.00'), 'Antigua and Barbuda', 'Constitutional Monarchy', 'Elisabeth II', 63, 'AG'),
 ('ARE', 'United Arab Emirates', 'Asia', 'Middle East', 83600.0, 1971, 2441000, 74.1, Decimal('37966.00'), Decimal('36846.00'), 'Al-Imarat al-´Arabiya al-Muttahida', 'Emirate Federation', 'Zayid bin Sultan al-Nahayan', 65, 'AE'),
 ('ARG', 'Argentina', 'South America', 'South America', 2780400.0, 1816, 37032000, 75.1, Decimal('340238.00'), Decimal('323310.00'), 'Argentina', 'Federal Republic', 'Fernando de la Rúa', 69, 'AR'),
 ('ARM', 'Armenia', 'Asia', 'Middle East', 29800.0, 1991, 3520000, 66.4, Decimal('1813.00'), Decimal('1627.00'), 'Hajastan', 'Republic', 'Robert Kot\x9aarjan', 126, 'AM'),
 ('ABW', 'Aruba', 'North America', 'Caribbean', 193.0, None, 103000, 78.4, Decimal('828.00'), Decimal('793.00'), 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW'),
 ('AUS', 'Australia', 'Oceania', 'Australia and New Zealand', 7741220.0, 1901, 18886000, 79.8, Decimal('351182.00'), Decimal('392911.00'), 'Australia', 'Constitutional Monarchy, Federation', 'Elisabeth II', 135, 'AU'),
 ('AZE', 'Azerbaijan', 'Asia', 'Middle East', 86600.0, 1991, 7734000, 62.9, Decimal('4127.00'), Decimal('4100.00'), 'Azärbaycan', 'Federal Republic', 'Heydär Äliyev', 144, 'AZ'),
 ('BHS', 'Bahamas', 'North America', 'Caribbean', 13878.0, 1973, 307000, 71.1, Decimal('3527.00'), Decimal('3347.00'), 'The Bahamas', 'Constitutional Monarchy', 'Elisabeth II', 148, 'BS'),
 ('BHR', 'Bahrain', 'Asia', 'Middle East', 694.0, 1971, 617000, 73.0, Decimal('6366.00'), Decimal('6097.00'), 'Al-Bahrayn', 'Monarchy (Emirate)', 'Hamad ibn Isa al-Khalifa', 149, 'BH'),
 ('BGD', 'Bangladesh', 'Asia', 'Southern and Central Asia', 143998.0, 1971, 129155000, 60.2, Decimal('32852.00'), Decimal('31966.00'), 'Bangladesh', 'Republic', 'Shahabuddin Ahmad', 150, 'BD'),
 ('BRB', 'Barbados', 'North America', 'Caribbean', 430.0, 1966, 270000, 73.0, Decimal('2223.00'), Decimal('2186.00'), 'Barbados', 'Constitutional Monarchy', 'Elisabeth II', 174, 'BB'),
 ('BEL', 'Belgium', 'Europe', 'Western Europe', 30518.0, 1830, 10239000, 77.8, Decimal('249704.00'), Decimal('243948.00'), 'België/Belgique', 'Constitutional Monarchy, Federation', 'Albert II', 179, 'BE'),
 ('BLZ', 'Belize', 'North America', 'Central America', 22696.0, 1981, 241000, 70.9, Decimal('630.00'), Decimal('616.00'), 'Belize', 'Constitutional Monarchy', 'Elisabeth II', 185, 'BZ'),
 ('BEN', 'Benin', 'Africa', 'Western Africa', 112622.0, 1960, 6097000, 50.2, Decimal('2357.00'), Decimal('2141.00'), 'Bénin', 'Republic', 'Mathieu Kérékou', 187, 'BJ'),
 ('BMU', 'Bermuda', 'North America', 'North America', 53.0, None, 65000, 76.9, Decimal('2328.00'), Decimal('2190.00'), 'Bermuda', 'Dependent Territory of the UK', 'Elisabeth II', 191, 'BM'),
 ('BTN', 'Bhutan', 'Asia', 'Southern and Central Asia', 47000.0, 1910, 2124000, 52.4, Decimal('372.00'), Decimal('383.00'), 'Druk-Yul', 'Monarchy', 'Jigme Singye Wangchuk', 192, 'BT'),
 ('BOL', 'Bolivia', 'South America', 'South America', 1098581.0, 1825, 8329000, 63.7, Decimal('8571.00'), Decimal('7967.00'), 'Bolivia', 'Republic', 'Hugo Bánzer Suárez', 194, 'BO'),
 ('BIH', 'Bosnia and Herzegovina', 'Europe', 'Southern Europe', 51197.0, 1992, 3972000, 71.5, Decimal('2841.00'), None, 'Bosna i Hercegovina', 'Federal Republic', 'Ante Jelavic', 201, 'BA'),
 ('BWA', 'Botswana', 'Africa', 'Southern Africa', 581730.0, 1966, 1622000, 39.3, Decimal('4834.00'), Decimal('4935.00'), 'Botswana', 'Republic', 'Festus G. Mogae', 204, 'BW'),
 ('BRA', 'Brazil', 'South America', 'South America', 8547403.0, 1822, 170115000, 62.9, Decimal('776739.00'), Decimal('804108.00'), 'Brasil', 'Federal Republic', 'Fernando Henrique Cardoso', 211, 'BR'),
 ('GBR', 'United Kingdom', 'Europe', 'British Islands', 242900.0, 1066, 59623400, 77.7, Decimal('1378330.00'), Decimal('1296830.00'), 'United Kingdom', 'Constitutional Monarchy', 'Elisabeth II', 456, 'GB'),
 ('VGB', 'Virgin Islands, British', 'North America', 'Caribbean', 151.0, None, 21000, 75.4, Decimal('612.00'), Decimal('573.00'), 'British Virgin Islands', 'Dependent Territory of the UK', 'Elisabeth II', 537, 'VG'),
 ('BRN', 'Brunei', 'Asia', 'Southeast Asia', 5765.0, 1984, 328000, 73.6, Decimal('11705.00'), Decimal('12460.00'), 'Brunei Darussalam', 'Monarchy (Sultanate)', 'Haji Hassan al-Bolkiah', 538, 'BN'),
 ('BGR', 'Bulgaria', 'Europe', 'Eastern Europe', 110994.0, 1908, 8190900, 70.9, Decimal('12178.00'), Decimal('10169.00'), 'Balgarija', 'Republic', 'Petar Stojanov', 539, 'BG'),
 ('BFA', 'Burkina Faso', 'Africa', 'Western Africa', 274000.0, 1960, 11937000, 46.7, Decimal('2425.00'), Decimal('2201.00'), 'Burkina Faso', 'Republic', 'Blaise Compaoré', 549, 'BF'),
 ('BDI', 'Burundi', 'Africa', 'Eastern Africa', 27834.0, 1962, 6695000, 46.2, Decimal('903.00'), Decimal('982.00'), 'Burundi/Uburundi', 'Republic', 'Pierre Buyoya', 552, 'BI'),
 ('CYM', 'Cayman Islands', 'North America', 'Caribbean', 264.0, None, 38000, 78.9, Decimal('1263.00'), Decimal('1186.00'), 'Cayman Islands', 'Dependent Territory of the UK', 'Elisabeth II', 553, 'KY'),
 ('CHL', 'Chile', 'South America', 'South America', 756626.0, 1810, 15211000, 75.7, Decimal('72949.00'), Decimal('75780.00'), 'Chile', 'Republic', 'Ricardo Lagos Escobar', 554, 'CL'),
 ('COK', 'Cook Islands', 'Oceania', 'Polynesia', 236.0, None, 20000, 71.1, Decimal('100.00'), None, 'The Cook Islands', 'Nonmetropolitan Territory of New Zealand', 'Elisabeth II', 583, 'CK'),
 ('CRI', 'Costa Rica', 'North America', 'Central America', 51100.0, 1821, 4023000, 75.8, Decimal('10226.00'), Decimal('9757.00'), 'Costa Rica', 'Republic', 'Miguel Ángel Rodríguez Echeverría', 584, 'CR'),
 ('DJI', 'Djibouti', 'Africa', 'Eastern Africa', 23200.0, 1977, 638000, 50.8, Decimal('382.00'), Decimal('373.00'), 'Djibouti/Jibuti', 'Republic', 'Ismail Omar Guelleh', 585, 'DJ'),
 ('DMA', 'Dominica', 'North America', 'Caribbean', 751.0, 1978, 71000, 73.4, Decimal('256.00'), Decimal('243.00'), 'Dominica', 'Republic', 'Vernon Shaw', 586, 'DM'),
 ('DOM', 'Dominican Republic', 'North America', 'Caribbean', 48511.0, 1844, 8495000, 73.2, Decimal('15846.00'), Decimal('15076.00'), 'República Dominicana', 'Republic', 'Hipólito Mejía Domínguez', 587, 'DO'),
 ('ECU', 'Ecuador', 'South America', 'South America', 283561.0, 1822, 12646000, 71.1, Decimal('19770.00'), Decimal('19769.00'), 'Ecuador', 'Republic', 'Gustavo Noboa Bejarano', 594, 'EC'),
 ('EGY', 'Egypt', 'Africa', 'Northern Africa', 1001449.0, 1922, 68470000, 63.3, Decimal('82710.00'), Decimal('75617.00'), 'Misr', 'Republic', 'Hosni Mubarak', 608, 'EG'),
 ('SLV', 'El Salvador', 'North America', 'Central America', 21041.0, 1841, 6276000, 69.7, Decimal('11863.00'), Decimal('11203.00'), 'El Salvador', 'Republic', 'Francisco Guillermo Flores Pérez', 645, 'SV'),
 ('ERI', 'Eritrea', 'Africa', 'Eastern Africa', 117600.0, 1993, 3850000, 55.8, Decimal('650.00'), Decimal('755.00'), 'Ertra', 'Republic', 'Isayas Afewerki [Isaias Afwerki]', 652, 'ER'),
 ('ESP', 'Spain', 'Europe', 'Southern Europe', 505992.0, 1492, 39441700, 78.8, Decimal('553233.00'), Decimal('532031.00'), 'España', 'Constitutional Monarchy', 'Juan Carlos I', 653, 'ES'),
 ('ZAF', 'South Africa', 'Africa', 'Southern Africa', 1221037.0, 1910, 40377000, 51.1, Decimal('116729.00'), Decimal('129092.00'), 'South Africa', 'Republic', 'Thabo Mbeki', 716, 'ZA'),
 ('ETH', 'Ethiopia', 'Africa', 'Eastern Africa', 1104300.0, -1000, 62565000, 45.2, Decimal('6353.00'), Decimal('6180.00'), 'YeItyop´iya', 'Republic', 'Negasso Gidada', 756, 'ET'),
 ('FLK', 'Falkland Islands', 'South America', 'South America', 12173.0, None, 2000, None, Decimal('0.00'), None, 'Falkland Islands', 'Dependent Territory of the UK', 'Elisabeth II', 763, 'FK'),
 ('FJI', 'Fiji Islands', 'Oceania', 'Melanesia', 18274.0, 1970, 817000, 67.9, Decimal('1536.00'), Decimal('2149.00'), 'Fiji Islands', 'Republic', 'Josefa Iloilo', 764, 'FJ'),
 ('PHL', 'Philippines', 'Asia', 'Southeast Asia', 300000.0, 1946, 75967000, 67.5, Decimal('65107.00'), Decimal('82239.00'), 'Pilipinas', 'Republic', 'Gloria Macapagal-Arroyo', 766, 'PH'),
 ('FRO', 'Faroe Islands', 'Europe', 'Nordic Countries', 1399.0, None, 43000, 78.4, Decimal('0.00'), None, 'Føroyar', 'Part of Denmark', 'Margrethe II', 901, 'FO'),
 ('GAB', 'Gabon', 'Africa', 'Central Africa', 267668.0, 1960, 1226000, 50.1, Decimal('5493.00'), Decimal('5279.00'), 'Le Gabon', 'Republic', 'Omar Bongo', 902, 'GA'),
 ('GMB', 'Gambia', 'Africa', 'Western Africa', 11295.0, 1965, 1305000, 53.2, Decimal('320.00'), Decimal('325.00'), 'The Gambia', 'Republic', 'Yahya Jammeh', 904, 'GM'),
 ('GEO', 'Georgia', 'Asia', 'Middle East', 69700.0, 1991, 4968000, 64.5, Decimal('6064.00'), Decimal('5924.00'), 'Sakartvelo', 'Republic', 'Eduard \x8aevardnadze', 905, 'GE'),
 ('GHA', 'Ghana', 'Africa', 'Western Africa', 238533.0, 1957, 20212000, 57.4, Decimal('7137.00'), Decimal('6884.00'), 'Ghana', 'Republic', 'John Kufuor', 910, 'GH'),
 ('GIB', 'Gibraltar', 'Europe', 'Southern Europe', 6.0, None, 25000, 79.0, Decimal('258.00'), None, 'Gibraltar', 'Dependent Territory of the UK', 'Elisabeth II', 915, 'GI'),
 ('GRD', 'Grenada', 'North America', 'Caribbean', 344.0, 1974, 94000, 64.5, Decimal('318.00'), None, 'Grenada', 'Constitutional Monarchy', 'Elisabeth II', 916, 'GD'),
 ('GRL', 'Greenland', 'North America', 'North America', 2166090.0, None, 56000, 68.1, Decimal('0.00'), None, 'Kalaallit Nunaat/Grønland', 'Part of Denmark', 'Margrethe II', 917, 'GL'),
 ('GLP', 'Guadeloupe', 'North America', 'Caribbean', 1705.0, None, 456000, 77.0, Decimal('3501.00'), None, 'Guadeloupe', 'Overseas Department of France', 'Jacques Chirac', 919, 'GP'),
 ('GUM', 'Guam', 'Oceania', 'Micronesia', 549.0, None, 168000, 77.8, Decimal('1197.00'), Decimal('1136.00'), 'Guam', 'US Territory', 'George W. Bush', 921, 'GU'),
 ('GTM', 'Guatemala', 'North America', 'Central America', 108889.0, 1821, 11385000, 66.2, Decimal('19008.00'), Decimal('17797.00'), 'Guatemala', 'Republic', 'Alfonso Portillo Cabrera', 922, 'GT'),
 ('GIN', 'Guinea', 'Africa', 'Western Africa', 245857.0, 1958, 7430000, 45.6, Decimal('2352.00'), Decimal('2383.00'), 'Guinée', 'Republic', 'Lansana Conté', 926, 'GN'),
 ('GNB', 'Guinea-Bissau', 'Africa', 'Western Africa', 36125.0, 1974, 1213000, 49.0, Decimal('293.00'), Decimal('272.00'), 'Guiné-Bissau', 'Republic', 'Kumba Ialá', 927, 'GW'),
 ('GUY', 'Guyana', 'South America', 'South America', 214969.0, 1966, 861000, 64.0, Decimal('722.00'), Decimal('743.00'), 'Guyana', 'Republic', 'Bharrat Jagdeo', 928, 'GY'),
 ('HTI', 'Haiti', 'North America', 'Caribbean', 27750.0, 1804, 8222000, 49.2, Decimal('3459.00'), Decimal('3107.00'), 'Haïti/Dayti', 'Republic', 'Jean-Bertrand Aristide', 929, 'HT'),
 ('HND', 'Honduras', 'North America', 'Central America', 112088.0, 1838, 6485000, 69.9, Decimal('5333.00'), Decimal('4697.00'), 'Honduras', 'Republic', 'Carlos Roberto Flores Facussé', 933, 'HN'),
 ('HKG', 'Hong Kong', 'Asia', 'Eastern Asia', 1075.0, None, 6782000, 79.5, Decimal('166448.00'), Decimal('173610.00'), 'Xianggang/Hong Kong', 'Special Administrative Region of China', 'Jiang Zemin', 937, 'HK'),
 ('SJM', 'Svalbard and Jan Mayen', 'Europe', 'Nordic Countries', 62422.0, None, 3200, None, Decimal('0.00'), None, 'Svalbard og Jan Mayen', 'Dependent Territory of Norway', 'Harald V', 938, 'SJ'),
 ('IDN', 'Indonesia', 'Asia', 'Southeast Asia', 1904569.0, 1945, 212107000, 68.0, Decimal('84982.00'), Decimal('215002.00'), 'Indonesia', 'Republic', 'Abdurrahman Wahid', 939, 'ID'),
 ('IND', 'India', 'Asia', 'Southern and Central Asia', 3287263.0, 1947, 1013662000, 62.5, Decimal('447114.00'), Decimal('430572.00'), 'Bharat/India', 'Federal Republic', 'Kocheril Raman Narayanan', 1109, 'IN'),
 ('IRQ', 'Iraq', 'Asia', 'Middle East', 438317.0, 1932, 23115000, 66.5, Decimal('11500.00'), None, 'Al-´Iraq', 'Republic', 'Saddam Hussein al-Takriti', 1365, 'IQ'),
 ('IRN', 'Iran', 'Asia', 'Southern and Central Asia', 1648195.0, 1906, 67702000, 69.7, Decimal('195746.00'), Decimal('160151.00'), 'Iran', 'Islamic Republic', 'Ali Mohammad Khatami-Ardakani', 1380, 'IR'),
 ('IRL', 'Ireland', 'Europe', 'British Islands', 70273.0, 1921, 3775100, 76.8, Decimal('75921.00'), Decimal('73132.00'), 'Ireland/Éire', 'Republic', 'Mary McAleese', 1447, 'IE'),
 ('ISL', 'Iceland', 'Europe', 'Nordic Countries', 103000.0, 1944, 279000, 79.4, Decimal('8255.00'), Decimal('7474.00'), 'Ísland', 'Republic', 'Ólafur Ragnar Grímsson', 1449, 'IS'),
 ('ISR', 'Israel', 'Asia', 'Middle East', 21056.0, 1948, 6217000, 78.6, Decimal('97477.00'), Decimal('98577.00'), 'Yisra\x92el/Isra\x92il', 'Republic', 'Moshe Katzav', 1450, 'IL'),
 ('ITA', 'Italy', 'Europe', 'Southern Europe', 301316.0, 1861, 57680000, 79.0, Decimal('1161755.00'), Decimal('1145372.00'), 'Italia', 'Republic', 'Carlo Azeglio Ciampi', 1464, 'IT'),
 ('TMP', 'East Timor', 'Asia', 'Southeast Asia', 14874.0, None, 885000, 46.0, Decimal('0.00'), None, 'Timor Timur', 'Administrated by the UN', 'José Alexandre Gusmão', 1522, 'TP'),
 ('AUT', 'Austria', 'Europe', 'Western Europe', 83859.0, 1918, 8091800, 77.7, Decimal('211860.00'), Decimal('206025.00'), 'Österreich', 'Federal Republic', 'Thomas Klestil', 1523, 'AT'),
 ('JAM', 'Jamaica', 'North America', 'Caribbean', 10990.0, 1962, 2583000, 75.2, Decimal('6871.00'), Decimal('6722.00'), 'Jamaica', 'Constitutional Monarchy', 'Elisabeth II', 1530, 'JM'),
 ('JPN', 'Japan', 'Asia', 'Eastern Asia', 377829.0, -660, 126714000, 80.7, Decimal('3787042.00'), Decimal('4192638.00'), 'Nihon/Nippon', 'Constitutional Monarchy', 'Akihito', 1532, 'JP'),
 ('YEM', 'Yemen', 'Asia', 'Middle East', 527968.0, 1918, 18112000, 59.8, Decimal('6041.00'), Decimal('5729.00'), 'Al-Yaman', 'Republic', 'Ali Abdallah Salih', 1780, 'YE'),
 ('JOR', 'Jordan', 'Asia', 'Middle East', 88946.0, 1946, 5083000, 77.4, Decimal('7526.00'), Decimal('7051.00'), 'Al-Urdunn', 'Constitutional Monarchy', 'Abdullah II', 1786, 'JO'),
 ('CXR', 'Christmas Island', 'Oceania', 'Australia and New Zealand', 135.0, None, 2500, None, Decimal('0.00'), None, 'Christmas Island', 'Territory of Australia', 'Elisabeth II', 1791, 'CX'),
 ('YUG', 'Yugoslavia', 'Europe', 'Southern Europe', 102173.0, 1918, 10640000, 72.4, Decimal('17000.00'), None, 'Jugoslavija', 'Federal Republic', 'Vojislav Ko\x9atunica', 1792, 'YU'),
 ('KHM', 'Cambodia', 'Asia', 'Southeast Asia', 181035.0, 1953, 11168000, 56.5, Decimal('5121.00'), Decimal('5670.00'), 'Kâmpuchéa', 'Constitutional Monarchy', 'Norodom Sihanouk', 1800, 'KH'),
 ('CMR', 'Cameroon', 'Africa', 'Central Africa', 475442.0, 1960, 15085000, 54.8, Decimal('9174.00'), Decimal('8596.00'), 'Cameroun/Cameroon', 'Republic', 'Paul Biya', 1804, 'CM'),
 ('CAN', 'Canada', 'North America', 'North America', 9970610.0, 1867, 31147000, 79.4, Decimal('598862.00'), Decimal('625626.00'), 'Canada', 'Constitutional Monarchy, Federation', 'Elisabeth II', 1822, 'CA'),
 ('CPV', 'Cape Verde', 'Africa', 'Western Africa', 4033.0, 1975, 428000, 68.9, Decimal('435.00'), Decimal('420.00'), 'Cabo Verde', 'Republic', 'António Mascarenhas Monteiro', 1859, 'CV'),
 ('KAZ', 'Kazakstan', 'Asia', 'Southern and Central Asia', 2724900.0, 1991, 16223000, 63.2, Decimal('24375.00'), Decimal('23383.00'), 'Qazaqstan', 'Republic', 'Nursultan Nazarbajev', 1864, 'KZ'),
 ('KEN', 'Kenya', 'Africa', 'Eastern Africa', 580367.0, 1963, 30080000, 48.0, Decimal('9217.00'), Decimal('10241.00'), 'Kenya', 'Republic', 'Daniel arap Moi', 1881, 'KE'),
 ('CAF', 'Central African Republic', 'Africa', 'Central Africa', 622984.0, 1960, 3615000, 44.0, Decimal('1054.00'), Decimal('993.00'), 'Centrafrique/Bê-Afrîka', 'Republic', 'Ange-Félix Patassé', 1889, 'CF'),
 ('CHN', 'China', 'Asia', 'Eastern Asia', 9572900.0, -1523, 1277558000, 71.4, Decimal('982268.00'), Decimal('917719.00'), 'Zhongquo', "People'sRepublic", 'Jiang Zemin', 1891, 'CN'),
 ('KGZ', 'Kyrgyzstan', 'Asia', 'Southern and Central Asia', 199900.0, 1991, 4699000, 63.4, Decimal('1626.00'), Decimal('1767.00'), 'Kyrgyzstan', 'Republic', 'Askar Akajev', 2253, 'KG'),
 ('KIR', 'Kiribati', 'Oceania', 'Micronesia', 726.0, 1979, 83000, 59.8, Decimal('40.70'), None, 'Kiribati', 'Republic', 'Teburoro Tito', 2256, 'KI'),
 ('COL', 'Colombia', 'South America', 'South America', 1138914.0, 1810, 42321000, 70.3, Decimal('102896.00'), Decimal('105116.00'), 'Colombia', 'Republic', 'Andrés Pastrana Arango', 2257, 'CO'),
 ('COM', 'Comoros', 'Africa', 'Eastern Africa', 1862.0, 1975, 578000, 60.0, Decimal('4401.00'), Decimal('4361.00'), 'Komori/Comores', 'Republic', 'Azali Assoumani', 2295, 'KM'),
 ('COG', 'Congo', 'Africa', 'Central Africa', 342000.0, 1960, 2943000, 47.4, Decimal('2108.00'), Decimal('2287.00'), 'Congo', 'Republic', 'Denis Sassou-Nguesso', 2296, 'CG'),
 ('COD', 'Congo, The Democratic Republic of the', 'Africa', 'Central Africa', 2344858.0, 1960, 51654000, 48.8, Decimal('6964.00'), Decimal('2474.00'), 'République Démocratique du Congo', 'Republic', 'Joseph Kabila', 2298, 'CD'),
 ('CCK', 'Cocos (Keeling) Islands', 'Oceania', 'Australia and New Zealand', 14.0, None, 600, None, Decimal('0.00'), None, 'Cocos (Keeling) Islands', 'Territory of Australia', 'Elisabeth II', 2317, 'CC'),
 ('PRK', 'North Korea', 'Asia', 'Eastern Asia', 120538.0, 1948, 24039000, 70.7, Decimal('5332.00'), None, 'Choson Minjujuui In´min Konghwaguk (Bukhan)', 'Socialistic Republic', 'Kim Jong-il', 2318, 'KP'),
 ('KOR', 'South Korea', 'Asia', 'Eastern Asia', 99434.0, 1948, 46844000, 74.4, Decimal('320749.00'), Decimal('442544.00'), 'Taehan Min\x92guk (Namhan)', 'Republic', 'Kim Dae-jung', 2331, 'KR'),
 ('GRC', 'Greece', 'Europe', 'Southern Europe', 131626.0, 1830, 10545700, 78.4, Decimal('120724.00'), Decimal('119946.00'), 'Elláda', 'Republic', 'Kostis Stefanopoulos', 2401, 'GR'),
 ('HRV', 'Croatia', 'Europe', 'Southern Europe', 56538.0, 1991, 4473000, 73.7, Decimal('20208.00'), Decimal('19300.00'), 'Hrvatska', 'Republic', '\x8atipe Mesic', 2409, 'HR'),
 ('CUB', 'Cuba', 'North America', 'Caribbean', 110861.0, 1902, 11201000, 76.2, Decimal('17843.00'), Decimal('18862.00'), 'Cuba', 'Socialistic Republic', 'Fidel Castro Ruz', 2413, 'CU'),

Use `*` with care, since this may cause an unnecessary burden to your network. 
Besides, it make your SQL code less readable. If someone is not highly familiar with the database, they might not know what is being returned.

**Exercise 3: `LIMIT` keyword**

You can use the `LIMIT` keyword to limit the number of rows returned by the `SELECT` statement. 
Fill in the SQL query below to retrieve the `name` and `lifeexpectancy` columns from the `country` table, while limiting the number of rows to 10.

In [8]:
%%sql 
/*
... name, ... 
   ... country
   LIMIT ...;
*/


SELECT name, lifeexpectancy
    FROM country
    LIMIT 10;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
10 rows affected.

[('Afghanistan', 45.9),
 ('Netherlands', 78.3),
 ('Netherlands Antilles', 74.7),
 ('Albania', 71.6),
 ('Algeria', 69.7),
 ('American Samoa', 75.1),
 ('Andorra', 83.5),
 ('Angola', 38.3),
 ('Anguilla', 76.1),
 ('Antigua and Barbuda', 70.5)]

**Exercise 4: Aliases**

As you can see in the previous exercise, `lifeexpectancy` is hard to read. 
We can rename the columns in the SELECT statement's output by using the `AS` keyword. 
This will not change the `country` table, only the output of the SELECT statement. 

Fill in the SQL query below to retrieve the `name` and `lifeexpectancy` columns from the country table. Rename `lifeexpectancy` to `life_expectancy`. Again, limit the output to 15 rows.

In [9]:
%%sql

/*
...
    name,
    ... ... life_expectancy
  FROM ...
  ...;
*/


SELECT
    name,
    lifeexpectancy AS life_expectancy
  FROM country
  LIMIT 15;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
15 rows affected.

[('Afghanistan', 45.9),
 ('Netherlands', 78.3),
 ('Netherlands Antilles', 74.7),
 ('Albania', 71.6),
 ('Algeria', 69.7),
 ('American Samoa', 75.1),
 ('Andorra', 83.5),
 ('Angola', 38.3),
 ('Anguilla', 76.1),
 ('Antigua and Barbuda', 70.5),
 ('United Arab Emirates', 74.1),
 ('Argentina', 75.1),
 ('Armenia', 66.4),
 ('Aruba', 78.4),
 ('Australia', 79.8)]

**Exercise 5: `DISTINCT`**

What are the continents in the present in the `country` table? We can add the `DISTINCT` modifier to the `SELECT` clause to return only distinct results.  

> Note: `DISTINCT` is applied to **all columns** that we list in front of `SELECT`, and returns all distinct combinations of values stored in those columns.

In [10]:
%%sql
/*
... DISTINCT ...
  FROM ...;
*/    

SELECT DISTINCT continent
  FROM country;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
7 rows affected.

[('Asia',),
 ('South America',),
 ('North America',),
 ('Oceania',),
 ('Antarctica',),
 ('Africa',),
 ('Europe',)]

**Exercise 6: Filtering with `WHERE`**

- The `WHERE` clause allows us to filter the rows we want;
- We can specify a condition (a Boolean expression) in the `WHERE` clause to retrieve only the rows for which the condition is true;
- Remember the filter verb in dplyr? It is the same idea!!

Retrieve the countries with a population higher than 150 million people.

In [11]:
%%sql

/*
... ...
  FROM ...
  ... population > 150000000;
*/

SELECT name, population
  FROM country
  WHERE population > 150000000;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
6 rows affected.

[('Brazil', 170115000),
 ('Indonesia', 212107000),
 ('India', 1013662000),
 ('China', 1277558000),
 ('Pakistan', 156483000),
 ('United States', 278357000)]

- Some comparisons operator to use in `WHERE` clause

Operator | Condition |
---------|-----------|
`<`, `<=`, `=`, `>=`, `>` | ordinal comparisons | 
`LIKE`, `ILIKE`, `SIMILAR TO` | Pattern Matching | 
`BETWEEN` | Range filtering | 
`IN` | check belonginess (similar to `%in% `in R) |
`IS NULL` | check if is NULL |

**Exercise 7: derived columns**

SQL is able to make operations using columns. 

Retrieve the `name` column and `gnp_per_capita` by dividing the `gnp` column by the `population` column. 
Make sure to only calculate this for rows with population higher than 0. Remember to rename the column as `gnp_per_capita`.

In [12]:
%%sql

/*
...
    name,
    ... ... gnp_per_capita
  FROM ...
  ... ...
  LIMIT 15;
*/


SELECT
    name,
    gnp / population AS gnp_per_capita
  FROM country
  WHERE population > 0
  LIMIT 15;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
15 rows affected.

[('Afghanistan', Decimal('0.00026302816901408451')),
 ('Netherlands', Decimal('0.02340910237014624307')),
 ('Netherlands Antilles', Decimal('0.00894470046082949309')),
 ('Albania', Decimal('0.00094231447724332588')),
 ('Algeria', Decimal('0.00158819230402592863')),
 ('American Samoa', Decimal('0.00491176470588235294')),
 ('Andorra', Decimal('0.02089743589743589744')),
 ('Angola', Decimal('0.00051622922814101569')),
 ('Anguilla', Decimal('0.00790000000000000000')),
 ('Antigua and Barbuda', Decimal('0.00900000000000000000')),
 ('United Arab Emirates', Decimal('0.01555346169602621876')),
 ('Argentina', Decimal('0.00918767552387124649')),
 ('Armenia', Decimal('0.00051505681818181818')),
 ('Aruba', Decimal('0.00803883495145631068')),
 ('Australia', Decimal('0.01859483215079953405'))]

> Remember:  the `SELECT` statement is powerful, but not dangerous. Derived columns returned by Postgres are not saved anywhere, nor do they change existing columns.

**Exercise 8: Arranging with `ORDER BY`**

What are the countries with the highest `gnp_per_capita`? 
You can use the `ORDER BY` clause to rearrange the rows that is returned. By default, it will arrange the rows in ascending order. 
If you want in descend order you can add the `DESC` keyword. 

Retrieve the `name` column and `gnp_per_capita` by dividing the `gnp` column by the `population` column. 
1. Make sure to only calculate this for rows with population higher than 0. 
2. Remember to rename the column as `gnp_per_capita`. 
3. Order the rows in descending order.

In [13]:
%%sql

/*
...
    name,
    ... ... gnp_per_capita
  FROM ...
  ... population > 0
  ORDER BY ... DESC
  LIMIT 15;
*/


SELECT
    name,
    gnp / population AS gnp_per_capita
  FROM country
  WHERE population > 0
  ORDER BY gnp_per_capita DESC
  LIMIT 15;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
15 rows affected.

[('Luxembourg', Decimal('0.03745926095937571724')),
 ('Switzerland', Decimal('0.03693620468130272052')),
 ('Bermuda', Decimal('0.03581538461538461538')),
 ('Brunei', Decimal('0.03568597560975609756')),
 ('Liechtenstein', Decimal('0.03464396284829721362')),
 ('Cayman Islands', Decimal('0.03323684210526315789')),
 ('Denmark', Decimal('0.03266397748592870544')),
 ('Norway', Decimal('0.03257675561013732276')),
 ('United States', Decimal('0.03057476549898152373')),
 ('Japan', Decimal('0.02988653187493094686')),
 ('Iceland', Decimal('0.02958781362007168459')),
 ('Virgin Islands, British', Decimal('0.02914285714285714286')),
 ('Austria', Decimal('0.02618206085172643911')),
 ('Germany', Decimal('0.02596452004327892635')),
 ('Sweden', Decimal('0.02555939242106213465'))]

> Note: if there’s a draw in `ORDER BY`, the rows are presented in arbitrary order;

---  
**Remember:**

The order of SQL keywords does matter: `SELECT`, `FROM`, `WHERE`, `ORDER BY`, `LIMIT`
    
---

## Data Types

We will not cover data types in detail. You can find all data types supported by PostgreSQL [here](https://www.postgresql.org/docs/current/datatype.html).

One thing that is worth noting is the `CAST` function, to convert from one data type to another.

**Example**

In [14]:
%%sql 

SELECT CAST('1.2587465416874' AS NUMERIC(5,2));

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
1 rows affected.

[(Decimal('1.26'),)]

### Nulls

- A null is marker to indicate that the value for a column is unknown, or not entered yet. A null is not equal to 0, or an empty string. In fact, **a null is not even equal to another null**!

- In `ORDER BY`, `NULL` values are considered either: the highest or the smallest possible value, depending on the DBMS. PostgreSQL treats `NULL` the highest possible value.

- Use `IS NULL` to match `NULL`. Do not try using equality. A `NULL` is not equal to another `NULL`.

- Although `NULL`s are not equal to each other, `DISTINC` treats them as if they were!

- How different environments show nulls:
  - `ipython-sql` -> `None`
  - psql -> blank space
  - pgAdmin -> `[null]`

------------------------

## `imdb` database 
Let's continue exploring the `WHERE` clause, but to keep things interesting, let's use another database.

In [57]:
%config SqlMagic.displaylimit = 20

In [58]:
%sql postgresql://{username}:{password}@{host}:{port}/imdb

In [59]:
%%sql

/* Lets take a look at the movies table */

SELECT *
  FROM movies;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/imdb
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
26058 rows affected.

[(10035423, 'Kate & Leopold', None, 2001, None, 118, 6.4, 74982),
 (10042742, 'Mister 880', None, 1950, None, 90, 7.1, 1171),
 (10041181, 'Black Hand', None, 1950, None, 92, 6.4, 666),
 (10041387, 'Francis', None, 1950, None, 91, 6.4, 979),
 (10041719, 'Orpheus', 'Orphée', 1950, None, 95, 8.0, 9346),
 (10041931, 'Stromboli', 'Stromboli, terra di Dio', 1950, None, 107, 7.3, 5239),
 (10042052, 'Woman in Hiding', None, 1950, None, 92, 6.9, 553),
 (10042179, 'Abbott and Costello in the Foreign Legion', None, 1950, None, 80, 6.6, 2573),
 (10042200, 'Annie Get Your Gun', None, 1950, None, 107, 6.9, 4050),
 (10042206, 'Armored Car Robbery', None, 1950, None, 67, 7.0, 2077),
 (10042208, 'The Asphalt Jungle', None, 1950, None, 112, 7.9, 22106),
 (10042211, 'Atom Man vs. Superman', None, 1950, None, 252, 7.0, 579),
 (10042219, 'Backfire', None, 1950, None, 91, 6.6, 955),
 (10042229, 'The Baron of Arizona', None, 1950, None, 97, 7.0, 1748),
 (10042249, 'The Big Lift', None, 1950, None, 120, 6.5, 1266),
 (10042256, 'The Black Rose', None, 1950, None, 120, 6.3, 1657),
 (10042265, 'The Blue Lamp', None, 1950, None, 84, 6.9, 1426),
 (10042274, 'Borderline', None, 1950, None, 88, 6.1, 996),
 (10042275, 'Born to Be Bad', None, 1950, None, 94, 6.7, 1797),
 (10042279, 'Branded', None, 1950, None, 104, 6.7, 702),
 (10042285, 'Bright Leaf', None, 1950, None, 110, 6.6, 1033),
 (10042296, 'Caged', None, 1950, None, 96, 7.7, 3195),
 (10042315, 'The Cariboo Trail', None, 1950, None, 81, 6.0, 529),
 (10042325, 'Champagne for Caesar', None, 1950, None, 99, 7.4, 924),
 (10042332, 'Cinderella', None, 1950, None, 74, 7.3, 134235),
 (10042333, 'The Clouded Yellow', None, 1950, None, 95, 6.9, 609),
 (10042338, 'Colt .45', None, 1950, None, 74, 6.0, 758),
 (10042343, 'Convicted', None, 1950, None, 91, 6.9, 643),
 (10042344, 'Copper Canyon', None, 1950, None, 84, 6.3, 510),
 (10042352, 'Crisis', None, 1950, None, 95, 6.7, 1395),
 (10042355, 'Story of a Love Affair', 'Cronaca di un amore', 1950, None, 98, 7.1, 2209),
 (10042367, 'Cyrano de Bergerac', None, 1950, None, 113, 7.5, 3375),
 (10042372, 'Dallas', None, 1950, None, 94, 6.3, 1115),
 (10042376, "The Damned Don't Cry", None, 1950, None, 103, 7.2, 2114),
 (10042379, 'Dark City', None, 1950, None, 98, 6.8, 1650),
 (10042393, 'Destination Moon', None, 1950, None, 92, 6.3, 3388),
 (10042394, 'Destination Murder', None, 1950, None, 72, 6.0, 546),
 (10042395, "Devil's Doorway", None, 1950, None, 84, 7.3, 1200),
 (10042397, 'Dial 1119', None, 1950, None, 75, 6.7, 787),
 (10042447, 'Fancy Pants', None, 1950, None, 92, 6.6, 1050),
 (10042451, 'Father of the Bride', None, 1950, None, 92, 7.2, 9343),
 (10042464, 'The Flame and the Arrow', None, 1950, None, 88, 7.0, 3133),
 (10042488, 'The Fuller Brush Girl', None, 1950, None, 85, 6.7, 576),
 (10042490, 'The Furies', None, 1950, None, 109, 7.3, 2504),
 (10042509, 'The Glass Menagerie', None, 1950, None, 107, 7.1, 934),
 (10042513, 'Gone to Earth', None, 1950, None, 110, 7.1, 921),
 (10042524, 'The Great Rupert', None, 1950, None, 87, 6.6, 842),
 (10042530, 'Gun Crazy', None, 1950, None, 87, 7.6, 10362),
 (10042531, 'The Gunfighter', None, 1950, None, 85, 7.7, 8490),
 (10042542, 'The Happy Years', None, 1950, None, 110, 6.8, 609),
 (10042544, 'Harriet Craig', None, 1950, None, 94, 7.3, 1421),
 (10042546, 'Harvey', None, 1950, None, 104, 7.9, 50544),
 (10042579, 'House by the River', None, 1950, None, 83, 7.2, 2579),
 (10042593, 'In a Lonely Place', None, 1950, None, 94, 8.0, 22965),
 (10042609, 'The Jackie Robinson Story', None, 1950, None, 77, 6.4, 1004),
 (10042610, 'The Jackpot', None, 1950, None, 85, 6.9, 821),
 (10042619, 'Diary of a Country Priest', "Journal d'un curé de campagne", 1951, None, 115, 8.0, 8621),
 (10042634, 'Key to the City', None, 1950, None, 101, 6.4, 599),
 (10042644, 'Kim', None, 1950, None, 113, 6.6, 1630),
 (10042646, "King Solomon's Mines", None, 1950, None, 103, 6.8, 5301),
 (10042648, 'Kiss Tomorrow Goodbye', None, 1950, None, 102, 7.1, 1587),
 (10042650, 'Kon-Tiki', None, 1950, None, 77, 8.0, 2172),
 (10042664, 'A Lady Without Passport', None, 1950, None, 74, 6.2, 698),
 (10042665, 'Last Holiday', None, 1950, None, 88, 7.5, 1286),
 (10042677, 'A Life of Her Own', None, 1950, None, 108, 6.3, 765),
 (10042692, 'Variety Lights', 'Luci del varietà', 1950, None, 97, 7.1, 2416),
 (10042697, 'Ma and Pa Kettle Go to Town', None, 1950, None, 79, 6.9, 669),
 (10042700, 'Madeleine', None, 1950, None, 114, 6.9, 1310),
 (10042702, 'The Magnificent Yankee', None, 1950, None, 89, 6.8, 529),
 (10042707, 'The Man Who Cheated Himself', None, 1950, None, 81, 6.8, 1473),
 (10042727, 'The Men', None, 1950, None, 85, 7.1, 3920),
 (10042735, 'The Miniver Story', None, 1950, None, 104, 6.5, 674),
 (10042744, 'Montana', None, 1950, None, 76, 6.2, 983),
 (10042752, 'Trio', None, 1950, None, 91, 7.2, 596),
 (10042771, 'Mystery Street', None, 1950, None, 93, 7.2, 2495),
 (10042782, 'The Nevadan', None, 1950, None, 81, 6.3, 657),
 (10042786, 'The Next Voice You Hear...', None, 1950, None, 83, 6.3, 699),
 (10042788, 'Night and the City', None, 1950, None, 101, 8.0, 10759),
 (10042792, 'No Way Out', None, 1950, None, 106, 7.4, 3950),
 (10042804, 'The Young and the Damned', 'Los olvidados', 1950, None, 85, 8.3, 16453),
 (10042810, 'Operation Disaster', 'Morning Departure', 1950, None, 102, 7.0, 668),
 (10042824, 'Outrage', None, 1950, None, 75, 6.7, 884),
 (10042832, 'Panic in the Streets', None, 1950, None, 96, 7.3, 6458),
 (10042869, 'Quicksand', None, 1950, None, 79, 6.6, 1800),
 (10042876, 'Rashomon', 'Rashômon', 1950, None, 88, 8.2, 138304),
 (10042895, 'Rio Grande', None, 1950, None, 105, 7.2, 12907),
 (10042899, 'Rocky Mountain', None, 1950, None, 83, 6.8, 835),
 (10042906, 'La Ronde', 'La ronde', 1950, None, 93, 7.6, 4456),
 (10042935, 'The Secret Fury', None, 1950, None, 85, 6.9, 537),
 (10042947, 'September Affair', None, 1950, None, 104, 6.8, 666),
 (10042949, 'Seven Days to Noon', None, 1950, None, 94, 7.1, 1277),
 (10042952, 'Shadow on the Wall', None, 1950, None, 84, 6.7, 917),
 (10042960, 'Side Street', None, 1950, None, 83, 7.1, 2297),
 (10042963, 'Sierra', None, 1950, None, 83, 6.8, 590),
 (10042994, 'Stage Fright', None, 1950, None, 110, 7.1, 11553),
 (10042998, 'Stars in My Crown', None, 1950, None, 89, 7.4, 1614),
 (10043014, 'Sunset Blvd.', None, 1950, None, 110, 8.4, 183282),
 (10043018, 'Susana', None, 1951, None, 86, 7.3, 1663),
 (10043030, 'Tea for Two', None, 1950, None, 98, 6.5, 1523),
 (10043041, 'Three Came Home', None, 1950, None, 106, 7.3, 1531),
 (10043044, 'Three Little Words', None, 1950, None, 102, 7.0, 1473),
 (10043048, 'To Joy', 'Till glädje', 1950, None, 98, 7.2, 2109),
 (10043052, 'To Please a Lady', None, 1950, None, 91, 6.2, 761),
 (10043053, 'The Toast of New Orleans', None, 1950, None, 97, 6.3, 518),
 (10043067, 'Treasure Island', None, 1950, None, 96, 6.9, 6139),
 (10043075, 'The Sound of Fury', None, 1950, None, 91, 7.2, 940),
 (10043079, 'Two Flags West', None, 1950, None, 92, 6.7, 624),
 (10043081, 'Two Weeks with Love', None, 1950, None, 90, 6.9, 719),
 (10043088, 'The Underworld Story', None, 1950, None, 91, 7.0, 566),
 (10043117, 'Wagon Master', None, 1950, None, 86, 7.1, 3805),
 (10043118, 'Walk Softly, Stranger', None, 1950, None, 81, 6.5, 695),
 (10043123, 'The West Point Story', None, 1950, None, 107, 6.2, 1066),
 (10043129, 'When Willie Comes Marching Home', None, 1950, None, 82, 6.5, 576),
 (10043132, 'Where the Sidewalk Ends', None, 1950, None, 95, 7.6, 7027),
 (10043134, 'The White Tower', None, 1950, None, 98, 6.0, 662),
 (10043137, "Winchester '73", None, 1950, None, 92, 7.7, 15365),
 (10043142, 'Woman on the Run', None, 1950, None, 77, 7.3, 2440),
 (10043147, 'The Wooden Horse', None, 1950, None, 101, 7.0, 1196),
 (10046799, 'Boot Polish', None, 1954, None, 149, 8.2, 648),
 (10043253, 'A.T.M.: ¡¡A toda máquina!!', None, 1951, None, 120, 7.9, 596),
 (10043262, 'Across the Wide Missouri', None, 1951, None, 78, 6.2, 1675),
 (10043265, 'The African Queen', None, 1951, None, 105, 7.8, 67356),
 (10043274, 'Alice in Wonderland', None, 1951, None, 75, 7.4, 118726),
 (10043278, 'An American in Paris', None, 1951, None, 114, 7.2, 27838),
 (10043286, 'Angels in the Outfield', None, 1951, None, 99, 7.1, 1869),
 (10043288, 'Anne of the Indies', None, 1951, None, 81, 6.7, 1084),
 (10043292, 'Appointment with Danger', None, 1950, None, 90, 6.6, 930),
 (10043299, 'As Young as You Feel', None, 1951, None, 77, 6.5, 959),
 (10043303, 'The Red Inn', "L'auberge rouge", 1951, None, 98, 7.4, 1201),
 (10043306, 'Awaara', None, 1951, None, 193, 8.0, 3169),
 (10043313, 'Early Summer', 'Bakushû', 1951, None, 125, 8.2, 6349),
 (10043340, 'The Big Night', None, 1951, None, 75, 6.4, 531),
 (10043361, 'Bright Victory', None, 1951, None, 97, 7.3, 739),
 (10043362, 'The Browning Version', None, 1951, None, 90, 8.2, 4024),
 (10043371, 'Callaway Went Thataway', None, 1951, None, 81, 6.6, 548),
 (10043379, 'Captain Horatio Hornblower R.N.', None, 1951, None, 117, 7.4, 5685),
 (10043386, "Casque d'Or", "Casque d'or", 1952, None, 96, 7.7, 4414),
 (10043408, 'The Cimarron Kid', None, 1952, None, 84, 6.4, 742),
 (10043411, 'The Emperor and the Golem', 'Císaruv pekar - Pekaruv císar', 1952, None, 144, 8.1, 1069),
 (10043425, "Comin' Round the Mountain", None, 1951, None, 77, 6.6, 1135),
 (10043435, 'Cry Danger', None, 1951, None, 79, 7.3, 1949),
 (10043436, 'Cry, the Beloved Country', None, 1951, None, 103, 7.1, 505),
 (10043455, 'David and Bathsheba', None, 1951, None, 116, 6.1, 1898),
 (10043458, 'Death of a Salesman', None, 1951, None, 115, 7.2, 801),
 (10043459, 'Decision Before Dawn', None, 1951, None, 119, 7.2, 2130),
 (10043461, 'The Desert Fox: The Story of Rommel', None, 1951, None, 88, 6.9, 5219),
 (10043465, 'Detective Story', None, 1951, None, 103, 7.6, 6413),
 (10043511, "Europe '51", "Europa '51", 1952, None, 118, 7.5, 2874),
 (10043539, 'Five', None, 1951, None, 93, 6.3, 1068),
 (10043547, 'Flying Leathernecks', None, 1951, None, 102, 6.5, 4163),
 (10043557, 'Fort Worth', None, 1951, None, 80, 6.3, 549),
 (10043560, 'Fourteen Hours', None, 1951, None, 92, 7.1, 2045),
 (10043565, 'The Frogmen', None, 1951, None, 96, 6.5, 997),
 (10043567, 'Miss Julie', 'Fröken Julie', 1951, None, 90, 7.3, 1499),
 (10043599, 'The Great Caruso', None, 1951, None, 109, 6.6, 1100),
 (10043606, 'Guardie e ladri', None, 1951, None, 105, 7.7, 1159),
 (10043614, 'The Idiot', 'Hakuchi', 1951, None, 166, 7.3, 4110),
 (10043625, 'He Ran All the Way', None, 1951, None, 77, 7.0, 1680),
 (10043633, 'Here Comes the Groom', None, 1951, None, 113, 6.5, 924),
 (10043643, 'His Kind of Woman', None, 1951, None, 120, 7.1, 3577),
 (10043652, 'One Summer of Happiness', 'Hon dansade en sommar', 1951, None, 103, 6.9, 623),
 (10043655, 'The Hoodlum', None, 1951, None, 61, 6.3, 695),
 (10043660, 'The House on Telegraph Hill', None, 1951, None, 93, 7.0, 2378),
 (10043668, "I'll Never Forget You", 'The House in the Square', 1951, None, 90, 7.1, 716),
 (10043669, "I'll See You in My Dreams", None, 1951, None, 110, 6.7, 820),
 (10043686, 'Forbidden Games', 'Jeux interdits', 1952, None, 86, 8.1, 10142),
 (10043687, 'Jim Thorpe -- All-American', None, 1951, None, 107, 6.9, 1737),
 (10043703, 'Kekec', None, 1951, None, 97, 8.0, 755),
 (10043709, 'Kind Lady', None, 1951, None, 78, 7.0, 781),
 (10043727, 'Laughter in Paradise', None, 1951, None, 93, 7.1, 1206),
 (10043736, "Let's Make It Legal", None, 1951, None, 77, 6.3, 986),
 (10043751, 'Lone Star', None, 1952, None, 94, 6.2, 808),
 (10043759, 'Love Nest', None, 1951, None, 84, 6.3, 1001),
 (10043766, 'M', None, 1951, None, 88, 6.8, 1462),
 (10043769, 'The Magic Box', None, 1951, None, 118, 7.0, 1032),
 (10043781, 'Man in the Saddle', None, 1951, None, 87, 6.3, 929),
 (10043792, 'The Mating Season', None, 1951, None, 101, 7.4, 1450),
 (10043801, 'Meshi', None, 1951, None, 97, 7.7, 1222),
 (10043812, 'The Mob', None, 1951, None, 87, 7.0, 1040),
 (10043824, 'A Woman Without Love', 'Una mujer sin amor', 1952, None, 85, 6.5, 649),
 (10043825, 'The Lady of Musashino', 'Musashino fujin', 1951, None, 88, 7.3, 547),
 (10043827, 'My Favorite Spy', None, 1951, None, 93, 6.6, 968),
 (10043861, 'No Questions Asked', None, 1951, None, 80, 6.7, 524),
 (10043871, 'Odette', None, 1950, None, 124, 7.0, 582),
 (10043873, 'Has Anybody Seen My Gal', None, 1952, None, 88, 7.1, 1183),
 (10043879, 'On Dangerous Ground', None, 1951, None, 82, 7.3, 5718),
 (10043880, 'On Moonlight Bay', None, 1951, None, 95, 7.1, 2125),
 (10043882, 'On the Riviera', None, 1951, None, 89, 6.4, 756),
 (10043885, 'Only the Valiant', None, 1951, None, 105, 6.5, 1120),
 (10043892, 'Miss Oyu', 'Oyû-sama', 1951, None, 94, 7.6, 1194),
 (10043899, 'Pandora and the Flying Dutchman', None, 1951, None, 122, 7.0, 2901),
 (10043908, 'Pathala Bhairavi', None, 1951, None, 192, 8.4, 529),
 (10043910, 'Payment on Demand', None, 1951, None, 90, 7.1, 1246),
 (10043914, "The People Against O'Hara", None, 1951, None, 102, 6.8, 1068),
 (10043918, 'The Little World of Don Camillo', 'Don Camillo', 1952, None, 107, 7.7, 3680),
 (10043924, 'A Place in the Sun', None, 1951, None, 122, 7.8, 18420),
 (10043927, 'La Poison', 'La poison', 1951, None, 85, 7.5, 934),
 (10043938, 'The Prowler', None, 1951, None, 92, 7.2, 2675),
 (10043949, 'Quo Vadis', None, 1951, None, 171, 7.2, 12467),
 (10043955, 'The Racket', None, 1951, None, 88, 6.7, 2360),
 (10043959, 'Rawhide', None, 1951, None, 89, 7.2, 2094),
 (10043961, 'The Red Badge of Courage', None, 1951, None, 69, 7.2, 3748),
 (10043967, 'Rhubarb', None, 1951, None, 94, 6.9, 554),
 (10043972, 'The River', None, 1951, None, 99, 7.5, 5115),
 (10043973, 'Roadblock', None, 1951, None, 73, 6.7, 955),
 (10043983, 'Royal Wedding', None, 1951, None, 93, 6.7, 4388),
 (10043989, 'Sailor Beware', None, 1952, None, 108, 6.4, 1029),
 (10043992, 'Santa Fe', None, 1951, None, 87, 6.2, 723),
 (10044008, 'A Christmas Carol', 'Scrooge', 1951, None, 86, 8.1, 18209),
 (10044012, 'Sealed Cargo', None, 1951, None, 90, 6.8, 615),
 (10044015, 'The Secret of Convict Lake', None, 1951, None, 83, 7.0, 690),
 (10044030, 'Show Boat', None, 1951, None, 108, 6.9, 4193),
 (10044040, 'Sirocco', None, 1951, None, 98, 6.3, 1726),
 (10044060, 'Summer Interlude', 'Sommarlek', 1951, None, 96, 7.6, 4574),
 (10044072, 'The Steel Helmet', None, 1951, None, 85, 7.5, 3396),
 (10044075, 'Storm Warning', None, 1951, None, 93, 7.2, 1304),
 (10044078, 'The Strange Door', None, 1951, None, 81, 6.3, 726),
 (10044081, 'A Streetcar Named Desire', None, 1951, None, 122, 8.0, 92834),
 (10044083, 'The Strip', None, 1951, None, 85, 6.0, 520),
 (10044105, 'The Tall Target', None, 1951, None, 78, 7.2, 1469),
 (10044110, 'Ten Tall Men', None, 1951, None, 97, 6.2, 768),
 (10044121, 'The Thing from Another World', None, 1951, None, 87, 7.2, 23411),
 (10044125, 'Three Guys Named Mike', None, 1951, None, 90, 6.2, 574),
 (10044128, 'Thunder on the Hill', None, 1951, None, 84, 6.8, 506),
 (10044135, 'Tomahawk', None, 1951, None, 82, 6.3, 639),
 (10044170, 'Man of Straw', 'Der Untertan', 1951, None, 109, 7.3, 715),
 (10044188, 'Der Verlorene', None, 1951, None, 98, 7.0, 831),
 (10044202, 'The Well', None, 1951, None, 86, 7.2, 596),
 (10044205, 'Westward the Women', None, 1951, None, 118, 7.6, 2532),
 (10044223, 'You Never Can Tell', None, 1951, None, 78, 7.1, 507),
 (10044314, '5 Fingers', None, 1952, None, 108, 7.7, 3896),
 (10044324, 'Above and Beyond', None, 1952, None, 122, 6.9, 978),
 (10044331, 'Affair in Trinidad', None, 1952, None, 98, 6.7, 1649),
 (10044333, 'Against All Flags', None, 1952, None, 84, 6.6, 2081),
 (10044355, 'Androcles and the Lion', None, 1952, None, 98, 6.2, 706),
 (10044357, 'Angel Face', None, 1953, None, 91, 7.3, 6225),
 (10044364, "Another Man's Poison", None, 1951, None, 90, 6.9, 1980),
 (10044370, 'April in Paris', None, 1952, None, 100, 6.1, 1031),
 (10044380, "At Sword's Point", None, 1952, None, 81, 6.0, 590),
 (10044386, 'Robinson Crusoe', None, 1954, None, 90, 6.8, 3186),
 (10044391, 'The Bad and the Beautiful', None, 1952, None, 118, 7.8, 11887),
 (10044399, 'The Battle at Apache Pass', None, 1952, None, 85, 6.4, 523),
 (10044408, 'The Belle of New York', None, 1952, None, 82, 6.2, 766),
 (10044409, 'Beauties of the Night', 'Les belles de nuit', 1952, None, 87, 6.9, 517),
 (10044410, 'Belles on Their Toes', None, 1952, None, 89, 6.7, 797),
 (10044413, 'Bend of the River', None, 1952, None, 91, 7.3, 7133),
 (10044417, 'Beware, My Lovely', None, 1952, None, 77, 6.7, 1480),
 (10044419, 'The Big Sky', None, 1952, None, 140, 7.0, 3600),
 (10044423, 'The Black Castle', None, 1952, None, 82, 6.4, 910),
 (10044426, 'Blackbeard, the Pirate', None, 1952, None, 99, 6.1, 1195),
 (10044429, 'Struggle in the Valley', 'Siraa Fil-Wadi', 1954, None, 105, 7.6, 769),
 (10044446, 'The Sound Barrier', None, 1952, None, 118, 6.7, 1536),
 (10044453, 'El bruto', None, 1953, None, 81, 7.3, 1592),
 (10044476, 'The Captive City', None, 1952, None, 91, 6.5, 668),
 (10044480, 'Carbine Williams', None, 1952, None, 92, 7.0, 1633),
 (10044486, 'Carrie', None, 1952, None, 118, 7.3, 1961),
 (10044488, 'Carson City', None, 1952, None, 87, 6.4, 811),
 (10044497, 'Children of Hiroshima', 'Genbaku no ko', 1952, None, 97, 7.8, 876),
 (10044502, 'Clash by Night', None, 1952, None, 105, 7.1, 5066),
 (10044518, 'White Mane', 'Crin blanc: Le cheval sauvage', 1953, None, 47, 7.3, 1848),
 (10044533, 'Deadline - U.S.A.', None, 1952, None, 87, 7.2, 2723),
 (10044552, 'Diplomatic Courier', None, 1952, None, 97, 6.9, 811),
 (10044557, "Don't Bother to Knock", None, 1952, None, 76, 6.9, 5385),
 (10044566, 'Dreamboat', None, 1952, None, 83, 6.8, 600),
 (10044573, 'The Duel at Silver Creek', None, 1952, None, 77, 6.4, 1192),
 (10044672, 'The Greatest Show on Earth', None, 1952, None, 152, 6.6, 11816),
 (10044673, 'The Green Glove', None, 1952, None, 89, 6.2, 662),
 (10044683, "Hangman's Knot", None, 1952, None, 81, 6.7, 1168),
 (10044685, 'Hans Christian Andersen', None, 1952, None, 112, 6.9, 3142),
 (10044706, 'High Noon', None, 1952, None, 85, 7.9, 91640),
 (10044716, 'The Holly and the Ivy', None, 1952, None, 83, 7.6, 739),
 (10044741, 'Ikiru', None, 1952, None, 143, 8.3, 60061),
 (10044760, 'Ivanhoe', None, 1952, None, 106, 6.8, 7586),
 (10044774, 'Jumping Jacks', None, 1952, None, 96, 6.4, 819),
 (10044789, 'Kansas City Confidential', None, 1952, None, 99, 7.4, 5292),
 (10044811, 'Kvinnors väntan', None, 1952, None, 107, 7.1, 1943),
 (10044829, 'The Lavender Hill Mob', None, 1951, None, 78, 7.6, 11620),
 (10044837, 'Limelight', None, 1952, None, 137, 8.1, 16445),
 (10044849, 'The Long Memory', None, 1953, None, 96, 6.9, 873),
 (10044851, 'Lost in Alaska', None, 1952, None, 76, 6.5, 1759),
 (10044855, 'Lovely to Look At', None, 1952, None, 103, 6.3, 562),
 (10044860, 'The Lusty Men', None, 1952, None, 113, 7.4, 2235),
 (10044863, 'Macao', None, 1952, None, 81, 6.7, 2535),
 (10044876, 'The Man in the White Suit', None, 1951, None, 85, 7.3, 8122),
 (10044888, 'The Marrying Kind', None, 1952, None, 92, 7.1, 1100),
 (10044896, 'The Member of the Wedding', None, 1952, None, 93, 6.8, 1170),
 (10044905, 'The Miracle of Our Lady of Fatima', None, 1952, None, 102, 6.8, 929),
 (10044907, 'Les Miserables', None, 1952, None, 105, 6.9, 843),
 (10044916, 'Monkey Business', None, 1952, None, 97, 7.0, 12020),
 (10044926, 'Moulin Rouge', None, 1952, None, 119, 7.1, 4599),
 (10044937, 'My Cousin Rachel', None, 1952, None, 98, 7.1, 2190),
 (10044953, 'The Naked Spur', None, 1953, None, 91, 7.4, 9264),
 (10044954, 'The Narrow Margin', None, 1952, None, 71, 7.7, 6424),
 (10044982, 'The Flavor of Green Tea Over Rice', 'Ochazuke no aji', 1952, None, 116, 7.8, 1938),
 (10044986, 'Mother', 'Okaasan', 1952, None, 98, 7.6, 545),
 (10045009, 'Park Row', None, 1952, None, 83, 7.3, 1295),
 (10045012, 'Pat and Mike', None, 1952, None, 95, 7.0, 4759),
 (10045039, 'Plymouth Adventure', None, 1952, None, 105, 6.3, 1073),

### Pattern matching

It is a quite common situation that we want to find rows for which the values of one or more columns match a particular pattern. In SQL, this can be done either using `LIKE` or by using regular expressions. The syntax is as follows:

```sql
SELECT
    column1, column2
FROM
    table1
WHERE
    column1 [NOT] LIKE '<pattern>'
;
```

Postgres provides us with two wild-cards that we can use with `LIKE`:
- `%` matches any string of characters
- `_` matches a single character.

Pattern matching with `LIKE` is case sensitive; however, Postgres also provides the `ILIKE` keyword that has the same functionality as `LIKE` but is case-insensitive (not part of standard SQL).

> **Note:** With `LIKE` or `ILIKE`, the entire string should match the pattern.

---

**Example:** Retrieve those movies from the `movie` table whose title contains the word `'violin'` (note that `LIKE` is picky about letter cases in strings!)

---

In [62]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    title ILIKE '%Violin%'
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/imdb
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
5 rows affected.

[(10120802, 'The Red Violin', 'Le violon rouge', 1998, None, 130, 7.6, 30285),
 (10451966, 'The Violin', 'El violín', 2005, None, 98, 7.7, 2212),
 (12401715, "The Devil's Violinist", None, 2013, None, 122, 6.1, 3033),
 (14972904, 'The Violin Teacher', 'Tudo Que Aprendemos Juntos', 2015, None, 102, 6.8, 645),
 (10053987, 'The Steamroller and the Violin', 'Katok i skripka', 1961, None, 46, 7.5, 4867)]


**Exercise 9:** 

Retrieve those movies from the `movie` table whose title starts with the word `'Zero'`.

In [64]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    title LIKE 'Zero%';

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/imdb
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
18 rows affected.

[(10095244, 'Zerograd', 'Gorod Zero', 1988, None, 103, 7.5, 1463),
 (10113557, 'Zero Kelvin', 'Kjærlighetens kjøtere', 1995, None, 118, 7.3, 1711),
 (10120906, 'Zero Effect', None, 1998, None, 116, 6.9, 13383),
 (10198837, 'Zero Tolerance', 'Noll tolerans', 1999, None, 108, 6.4, 3288),
 (10283693, 'Zero Woman: Red Handcuffs', 'Zeroka no onna: Akai wappa', 1974, None, 88, 6.6, 783),
 (10365960, 'Zero Day', None, 2002, None, 92, 7.2, 3840),
 (10421090, 'Zerophilia', None, 2005, None, 90, 6.2, 2177),
 (11592292, 'Zero 2', None, 2010, None, 90, 7.6, 5360),
 (11790885, 'Zero Dark Thirty', None, 2012, None, 157, 7.4, 254644),
 (12294965, 'Zero Charisma', None, 2013, None, 86, 6.2, 2384),
 (13576084, 'Zero Motivation', 'Efes beyahasei enosh', 2014, None, 97, 7.3, 3688),
 (15446858, 'Zero Days', None, 2016, None, 116, 7.8, 8081),
 (10051221, 'Zero Hour!', None, 1957, None, 81, 6.6, 1295),
 (10968712, 'Zero. Lilac Lithuania', 'Zero. Alyvine Lietuva', 2006, None, 82, 7.5, 2147),
 (11297858, 'Zero: An Investigation Into 9/11', None, 2008, None, 104, 7.8, 650),
 (11519661, 'Zero', None, 2009, None, 110, 6.8, 555),
 (12323372, 'Zero Point', 'Nullpunkt', 2014, None, 115, 7.4, 877),
 (16194850, 'Zero 3', None, 2017, None, 88, 6.6, 1094)]

**Exercise 10:** 

Retrieve those movies from the `movie` table whose title is 4 letters long and ends with the letter `'e'`.

In [65]:
%%sql

SELECT
    *
FROM
    movies
WHERE
    title LIKE '___e'
;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/imdb
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
71 rows affected.

[(10043539, 'Five', None, 1951, None, 93, 6.3, 1068),
 (10064694, 'More', None, 1969, None, 112, 6.5, 2155),
 (10066500, 'Hope', 'Umut', 1970, None, 100, 8.2, 2770),
 (10067814, 'Love', 'Szerelem', 1971, None, 88, 7.9, 1582),
 (10068306, 'Bone', None, 1972, None, 95, 6.8, 905),
 (10069158, 'Rage', None, 1972, None, 100, 6.3, 765),
 (10071803, 'Mame', None, 1974, None, 132, 6.1, 2490),
 (10080716, 'Fame', None, 1980, None, 134, 6.6, 18864),
 (10087182, 'Dune', None, 1984, None, 137, 6.5, 113255),
 (10088930, 'Clue', None, 1985, None, 94, 7.3, 71433),
 (10106438, 'Blue', None, 1993, None, 79, 7.3, 1778),
 (10112431, 'Babe', None, 1995, None, 91, 6.7, 110464),
 (10114323, 'Safe', None, 1995, None, 119, 7.2, 11475),
 (10116308, 'Fire', None, 1996, None, 108, 7.2, 5386),
 (10116722, 'Jude', None, 1996, None, 123, 6.9, 9547),
 (10123948, 'Cure', None, 1997, None, 111, 7.4, 8963),
 (10123755, 'Cube', None, 1997, None, 90, 7.2, 195849),
 (10123964, 'Life', None, 1999, None, 108, 6.8, 41588),
 (10188568, 'Rage', 'Do koske', 1997, None, 97, 6.9, 1623),
 (10217019, 'Sade', None, 2000, None, 100, 6.2, 1609),
 (10227005, 'Made', None, 2001, None, 95, 6.4, 16478),
 (10246072, 'Maze', None, 2000, None, 97, 6.3, 759),
 (10275719, 'Tape', None, 2001, None, 86, 7.3, 17850),
 (10308772, 'Pure', None, 2002, None, 96, 6.9, 2460),
 (10339079, 'Gone', None, 2002, None, 80, 7.1, 1048),
 (10347105, 'Fuse', 'Gori vatra', 2003, None, 105, 7.3, 1875),
 (10424448, 'Some', 'Sseom', 2004, None, 118, 6.1, 504),
 (10436724, 'Rize', None, 2005, None, 86, 7.1, 3050),
 (10484039, 'Glue', None, 2006, None, 110, 6.4, 1427),
 (10491399, 'Haze', None, 2005, None, 49, 6.6, 2179),
 (10497986, 'Time', 'Shi gan', 2006, None, 97, 7.2, 11216),
 (10807943, 'Dhee', None, 2007, None, 142, 7.4, 2350),
 (10814014, 'Apne', None, 2007, None, 173, 6.0, 2489),
 (10815138, 'Take', None, 2007, None, 98, 6.0, 1395),
 (10907657, 'Once', None, 2007, None, 86, 7.8, 105907),
 (11656190, 'Safe', None, 2012, None, 94, 6.5, 97531),
 (11996310, 'Lore', None, 2012, None, 109, 7.1, 13556),
 (12043979, 'Rose', 'Róza', 2011, None, 90, 7.6, 2861),
 (12093100, 'Home', 'Dom', 2011, None, 127, 7.5, 1065),
 (12202471, 'Love', 'Ai', 2012, None, 128, 6.6, 1348),
 (12224026, 'Home', None, 2015, None, 94, 6.6, 86931),
 (12948840, 'Life', None, 2015, None, 111, 6.0, 6756),
 (13153634, 'Hope', 'So-won', 2013, None, 122, 8.3, 4285),
 (13442006, 'Cake', None, 2014, None, 102, 6.4, 33466),
 (13716530, 'Elle', None, 2016, None, 130, 7.1, 55849),
 (13774694, 'Love', None, 2015, None, 135, 6.1, 38709),
 (13823098, 'Edie', None, 2017, None, 102, 6.5, 1071),
 (13850214, 'Dope', None, 2015, None, 103, 7.2, 77372),
 (14047846, 'Home', None, 2016, None, 103, 7.2, 838),
 (14384088, 'Rage', 'Ikari', 2016, None, 142, 7.1, 1881),
 (14741714, 'Five', None, 2016, None, 102, 6.3, 2252),
 (15638952, 'Dede', None, 2017, None, 97, 7.2, 788),
 (15927420, 'More', 'Daha', 2017, None, 115, 7.1, 1600),
 (16266538, 'Vice', None, 2018, None, 132, 7.2, 87744),
 (17207238, 'Jane', None, 2017, None, 90, 7.8, 3271),
 (17616148, 'Luce', None, 2019, None, 109, 7.1, 1196),
 (18638640, 'June', None, 2019, None, 141, 7.4, 829),
 (19412098, 'Fyre', None, 2019, None, 97, 7.2, 28255),
 (10106673, 'Dave', None, 1993, None, 110, 6.8, 46358),
 (10119092, 'Face', None, 1997, None, 105, 6.7, 4059),
 (11014762, 'Home', None, 2009, None, 120, 8.6, 20678),
 (11017456, 'Race', None, 2008, None, 149, 6.6, 11763),
 (11151923, 'Rage', 'Rabia', 2009, None, 89, 6.3, 1047),
 (11186357, 'Lope', None, 2010, None, 106, 6.0, 977),
 (11319569, 'Home', None, 2008, None, 98, 7.0, 3641),
 (11483753, 'Pure', 'Till det som är vackert', 2010, None, 97, 6.9, 3919),
 (12208144, 'Move', 'Drei Zimmer/Küche/Bad', 2012, None, 118, 6.7, 1236),
 (13499096, 'Race', None, 2016, None, 134, 7.1, 31582),
 (15442430, 'Life', None, 2017, None, 104, 6.6, 187432),
 (16342062, 'Anne', None, 2018, None, 80, 6.3, 606),
 (17715988, 'Cake', None, 2018, None, 125, 7.6, 753)]

## The relational model

SQL databases are based on the so-called relational model, it is based on the set theory in mathematics was introduced by by Edgar Codd (IBM) in 1970 ([more details here](https://en.wikipedia.org/wiki/Relational_model)). 
It's foundations in **set theory** is the reason you will here words like "tuples", "domain", "union", "cross product", etc.

We don't have time to cover the relational model in detail. But there are three things that you should keep in mind:


- **All operations** your perform in SQL result in a table (it could be an empty table).


- Primary keys: is one or more columns which uniquely identify each row (i.e., they are different for all rows); 
  - Examples: id, driver's license, SIN, license plate


- Foreign key: is one or more columns that uniquely identify each row of another table. For example
  - `id` in the `movies` table uniquely identify the movies;
  - `id` in the `names` table uniquely identify people; 
  - the `acting_roles` table relates people to movies using these primary keys to guarantee that there is no people working on a movie that doesn't exist, nor movies with people that don't exist (referential integrity);

In [73]:
%sql select * from names LIMIT 5;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/imdb
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
5 rows affected.

[(20000001, 'Fred Astaire', 1899, 1987),
 (20000002, 'Lauren Bacall', 1924, 2014),
 (20000003, 'Brigitte Bardot', 1934, None),
 (20000004, 'John Belushi', 1949, 1982),
 (20000005, 'Ingmar Bergman', 1918, 2007)]

In [75]:
%sql select * from movies LIMIT 5;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/imdb
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
5 rows affected.

[(10035423, 'Kate & Leopold', None, 2001, None, 118, 6.4, 74982),
 (10042742, 'Mister 880', None, 1950, None, 90, 7.1, 1171),
 (10041181, 'Black Hand', None, 1950, None, 92, 6.4, 666),
 (10041387, 'Francis', None, 1950, None, 91, 6.4, 979),
 (10041719, 'Orpheus', 'Orphée', 1950, None, 95, 8.0, 9346)]

In [74]:
%sql select * from acting_roles LIMIT 5;

 * postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/imdb
   postgresql://postgres:***@ssc-2022-workshop.ct6ghoz7smhy.us-east-1.rds.amazonaws.com:5432/world
5 rows affected.

[(10040559, 20685406, 'Celestino Esposito'),
 (10035423, 20000212, 'Kate McKay'),
 (10035423, 20413168, 'Leopold'),
 (10035423, 20000630, 'Stuart Besser'),
 (10035423, 20005227, 'Charlie McKay')]

There are also other useful models, which are less structured, which are known as `NoSQL` Databases. But this is outside the scope of this workshop.